---
layout: default

title: Community Gardens in Los Angeles

color: lime
---

{% assign link_to_map_title="Community Gardens" %}
{% assign link_to_map_type="community-garden" %}

{% include link-to-map.html %}

<h1>Community Gardens <span id="location">in Los Angeles</span></h1>

<ul class="food-source-list">
{% for food_source in site.data['community-gardens-from-staging-api'] %}
	<li class="community-garden" data-latitude="{{ food_source['latitude'] }}" data-longitude="{{ food_source['longitude'] }}">
		<a href="/{{ food_source['type_uri'] }}/{{ food_source['uri'] }}">
			<h2>{{ food_source['name'] }}</h2>
			<p class="type">Community Garden</p>
			<p>{{ food_source['address_1'] | escape }}</p>
			{% if page.food_source['address_2'] and page.food_source['address_2'] != '' %}
				<br />
				{{ page.food_source['address_2'] | escape }}
			{% endif %}
{% if false %}
			{% if food_source['hours'] and food_source['hours'].length and food_source['hours'].length > 0 %}
			<h3>Hours</h3>
			<p>{{ food_source['hours'] | escape }}</p>
			{% endif %}
{% endif %}
			<script type="text/template" class="distance-template">
				<p class="distance"><span></span> miles away</p>
			</script>
		</a>
	</li>
{% endfor %}

</ul>

<!-- Jim’s Google Maps API key -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4"></script>

<script src="/assets/js/list.js"></script>
