---
layout: default

title: Farmers’ Markets in Los Angeles

color: strawberry
---

{% assign link_to_map_title="Farmers’ Markets" %}
{% assign link_to_map_type="farmers-market" %}
{% assign form_action="/farmers-market/" %}

{% include link-to-map.html %}

<h1>{{ link_to_map_title }} <span id="location">near <em>Los Angeles</em></span></h1>

{% include search-form.html %}

<ul class="food-source-list">
{% assign data_collection = site.collections | where: "label", "farmers-markets" | first %}
{% assign data_list = data_collection.docs %}
{% include list.html %}
</ul>

<!-- Jim’s Google Maps API key -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4"></script>

<script src="/assets/js/list.js"></script>
