---
layout: null
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Food Oasis Los Angeles</title>
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi|Open+Sans" />
	<link rel="stylesheet" href="/assets/css/oasis.css" />
	
	<!-- For Google Analytics -->
	<script>	  
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-83011478-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body class="find">
	{% include header.html %}

	<main>
		<form action="/map" method="get">
			<div>
				<h1>Find food near you</h1>
				<p>
					<label>
						<span>Enter your location</span><br />
						<input type="text" name="address" placeholder="Address, Neighborhood, or Zip" autocomplete="off" autocorrect="off" />
					</label>
					<button type="submit">Go</button>
				</p>
			</div>
		</form>

		<!--
		<ul id="searchCheckBoxList">
			<li class="locationTypeOptions"><input type="checkbox"><a href="/map/?type=Food Banks (Solution)">food banks</a></li>
			<li class="locationTypeOptions"><input type="checkbox"><a href="/map/?type=CG-UF-N (Solution)">gardens</a></li>
			<li class="locationTypeOptions"><input type="checkbox"><a href="/map/?type=Farmers Markets (Solution)">grocery stores</a></li>
			<li class="locationTypeOptions"><input type="checkbox"><a href="/map/?type=Groceries (Problem)">farmers' markets</a></li>
		</ul>
		-->

		<section class="categories">
			<h2>Categories</h2>
			<ul class="link-list">
				<li><a href="/food-bank">Food Banks</a></li>
				<li><a href="/community-garden">Community Gardens</a></li>
				<li><a href="/farmers-market">Farmers’ Markets</a></li>
				<!--
				<li><a href="/grocery-store">Grocery Stores</a></li>
				-->
			</ul>
		</section>

		<!--
		<section>
			<h2>Categories</h2>
			<ul class="link-list">
				<li><a href="/source">Food Banks</a></li>
				<li><a>Pantries</a></li>
				<li><a>CSAs</a></li>
				<li><a>Fruit Trees</a></li>
				<li><a>Nursuries</a></li>
				<li><a>Urban Farms</a></li>
				<li><a>Community Gardens</a></li>
				<li><a>Farmers’ Markets</a></li>
				<li><a>Grocery Stores</a></li>
				<li><a>Specialty Markets</a></li>
				<li><a>Super Markets</a></li>
			</ul>
		</section>
		-->

	</main>
		
	<!-- footer.html found in _includes/footer.html -->
	{% include footer.html %}

	<!--
	Apply a random background color
	<script>
	(function() {
		// KUDOS: http://stackoverflow.com/questions/1527803/generating-random-whole-numbers-in-javascript-in-a-specific-range#answer-1527820
		/**
		 * Returns a random integer between min (inclusive) and max (inclusive)
		 * Using Math.round() will give you a non-uniform distribution!
		 */
		function getRandomInt(min, max) {
		    return Math.floor(Math.random() * (max - min + 1)) + min;
		}

		var colors = ['strawberry', 'lime', 'canteloupe', 'blueberry'];

		var randomNumber = getRandomInt(0, colors.length);
		document.body.classList.add(colors[randomNumber]);

	})();
	</script>
	-->

</body>
</html>
