---
layout: null
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Navigate the abundance of healthy food sources in Los Angeles" />

	<title>Food Oasis Los Angeles</title>

	<link rel="canonical" href="https://foodoasis.la" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi|Open+Sans:400,400i" />
	<!--
	* Open Sans - Regular
	* Open Sans - Italic
	* Reem Kufi - Regular

	You can choose more faces here:
	https://fonts.google.com/selection?selection.family=Open+Sans:400,400i|Reem+Kufi
	-->

	<link rel="stylesheet" href="/assets/css/oasis.css" />
</head>
<body class="find">
	{% include header.html %}

	{% assign has_navigation=true %}
	{% include link-to-find-food.html %}

	<main>
		<!--
		<form action="/map" method="get" style="background-image: url(/assets/images/photos/projecto-jardin.jpg)">
		-->
		<form action="/map" method="get" style="background-image: url(/assets/images/photos/6060629012_d9dc1f7642_o.jpg)">
			<div>
				<h1>Find healthy food near&nbsp;you.</h1>
				<p>
					<label>
						<span>Enter your location</span><br />
						<input type="text" name="address" placeholder="Address, Neighborhood, or Zip" autocomplete="off" autocorrect="off" />
					</label>
					<button type="submit">Go</button>

				<!-- 
				<br/><br/><br/>
				<a href="/map/?address=los+angeles"  style="color:white">
					Map icon
					by Jose Moya
					https://thenounproject.com/search/?q=map&i=47766

					<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="20" height="20">
						<path fill="#FFFFFF" d="M64.062,31.871c-3.385,0-6.131-2.745-6.131-6.132c0-3.388,2.746-6.131,6.131-6.131c3.387,0,6.133,2.744,6.133,6.131  C70.195,29.126,67.449,31.871,64.062,31.871 M64.062,48.125c0,0,12.74-15.893,12.74-22.929c0-7.036-5.703-12.739-12.74-12.739  c-7.035,0-12.738,5.703-12.738,12.739C51.324,32.233,64.062,48.125,64.062,48.125 M34.422,78.792l-13.244-5.457V35.403l13.244,5.454  V78.792z M84.318,78.001V30.024l-4.793-2.552c-0.365,1.353-0.943,2.823-1.662,4.341l1.811,1.323v37.931L66.43,65.614V48.421  c-0.475,0.616-0.826,1.058-1,1.275L64.062,51.4l-1.365-1.704c-0.162-0.204-0.482-0.604-0.91-1.158v18.984l-22.723,9.359V38.948  l12-4.119c-0.756-1.451-1.414-2.881-1.91-4.236l-14.732,5.241l-17.889-7.364v47.977l17.889,7.368L66.43,70.634v0.002L84.318,78.001z  "></path>
					</svg> 
					<span>Show me the map</span>
				</a>
				 -->

				</p>
			</div>

			<p class="photo-credit">Photo by <a href="https://www.flickr.com/photos/gemmamei/6060629012/">Gemma Billings</a></p>
			<!--
			<p class="photo-credit">Photo by <a href="http://www.proyectojardin.org">Projecto Jardin</a></p>
			-->
		</form>


		<!--
		<ul id="searchCheckBoxList">
			<li class="locationTypeOptions"><input type="checkbox"><a href="/map/?type=Food Banks (Solution)">food banks</a></li>
			<li class="locationTypeOptions"><input type="checkbox"><a href="/map/?type=CG-UF-N (Solution)">gardens</a></li>
			<li class="locationTypeOptions"><input type="checkbox"><a href="/map/?type=Farmers Markets (Solution)">grocery stores</a></li>
			<li class="locationTypeOptions"><input type="checkbox"><a href="/map/?type=Groceries (Problem)">farmers' markets</a></li>
		</ul>
		-->

		<div class="shim-sections">
		<h1>Navigate the abundance of healthy food sources in Los&nbsp;Angeles</h1>
		<section class="categories">
			<h2>Free food</h2>
			<ul class="link-list has-icons">
				<li>
					<a href="/food-pantry">
						<img class="icon" src="/assets/images/home/food-bank.svg" alt="" style="background-color: rgb(249, 192, 88); /* @canteloupe */" />
						<span>Food Pantries</span>
					</a>
				</li>
			</ul>
		</section>
		<section class="categories">
			<h2>Grow food</h2>
			<ul class="link-list has-icons">
				<li>
					<a href="/community-garden">
						<img class="icon" src="/assets/images/home/community-garden.svg" alt="" style="background-color: rgb(144, 194, 70); /* @lime */" />
						<span>Community Gardens</span>
					</a>
				</li>
				<!--
				<li><a>Pantries</a></li>
				<li><a>CSAs</a></li>
				<li><a>Fruit Trees</a></li>
				<li><a>Urban Farms</a></li>
				<li><a>Nurseries</a></li>
				<li><a>Specialty Markets</a></li>
				-->
			</ul>
		</section>
		<section class="categories">
			<h2>Food for sale</h2>
			<ul class="link-list has-icons">
				<li>
					<a href="/farmers-market">
						<span class="farmers-market"><img class="icon" src="/assets/images/home/farmers-market.svg" alt="" /></span>
						<span>Farmers’ Markets</span>
					</a>
				</li>
				<li>
					<a href="/grocery-store">
						<span class="grocery-store"><img class="icon" src="/assets/images/home/grocery-store.svg" alt="" /></span>
						<span>Grocery Stores</span>
					</a>
				</li>
				<li>
					<a href="/supermarket">
						<span class="supermarket"><img class="icon" src="/assets/images/home/supermarket.svg" alt="" /></span>
						<span>Supermarkets</span>
					</a>
				</li>
			</ul>
		</section>
		</div><!-- /.shim-sections -->

	</main>
		
	<!-- footer.html found in _includes/footer.html -->
	{% include footer.html %}

</body>
</html>
