@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

.well {
  margin-top: 5%;
}

/* Temporary Shim to fix the width of the page */
main > * {
    max-width: none; 
}

input[type="checkbox"], input[type="checkbox"] {
  padding: 0; 
  display: block;
  width: 1.875em;
  height: 1.875em;
  border: 0.125em solid black;
  position: absolute;
  top: 50%;
  top: calc(50% - 0.9375em);
  right: 0;
  border-radius: 0.375em;
}
