<div class="container">
  
    <h1>Food Oasis Research Portal</h1>
  
    <div class="well">
      <span style="color:red">Looking for healthy resources?</span>
      <button class="btn pull-right">See the Map</button>
    </div>
  
    <!-- Button Well -->
    <div class="well">
      <div class="row">
        <div class="col-md-4">
          <div class="btn-group-vertical" name="groupHelped">
            <label class="btn btn-primary" ng-model="checks.typeOfOrg.religious" uib-btn-checkbox>Religious</label>
            <label class="btn btn-primary" ng-model="checks.typeOfOrg.religious" uib-btn-checkbox>Religious</label>
            <label class="btn btn-primary" ng-model="checks.typeOfOrg.religious" uib-btn-checkbox>Religious</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="btn-group-vertical" name="groupHelped">
            <label class="btn btn-primary" ng-model="checks.typeOfOrg.religious" uib-btn-checkbox>Religious</label>
            <label class="btn btn-primary" ng-model="checks.typeOfOrg.religious" uib-btn-checkbox>Religious</label>
            <label class="btn btn-primary" ng-model="checks.typeOfOrg.religious" uib-btn-checkbox>Religious</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="btn-group-vertical" name="groupHelped">
            <label class="btn btn-primary" ng-model="checks.typeOfOrg.religious" uib-btn-checkbox>Religious</label>
            <label class="btn btn-primary" ng-model="checks.typeOfOrg.religious" uib-btn-checkbox>Religious</label>
            <label class="btn btn-primary" ng-model="checks.typeOfOrg.religious" uib-btn-checkbox>Religious</label>
          </div>
        </div>
      </div>
    </div><!-- Button Well End -->
  
    <!-- Checkbox Well Start -->
    <div class="well">
      <div class="row">
        <form>
          <div class="col-md-4">
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Checkbox Well End -->
</div>