<div class="container">
  
  <div class="well">
      <span style="color:red">Looking for healthy resources?</span>
      <a class="btn btn-primary pull-right" href="https://foodoasis.la/search/" target="_blank">See the Map</a>
  </div>
  
  <div class="clearfix"></div>
  
  <p>We've built a comprehensive directory of organizations in Los Angeles active in helping to create Food <br>Security for all Angelenos. Find one or add yours!</p>
  
  <div class="well">
    <div class="text-center">
    </div>
    
    <form ng-submit="searchValues()" novalidate>
      <!-- Category Filter Checkboxes Row 1 -->
      <div class="row">
        <!-- First group of checkboxes -->
        <div class="col-md-3">
          <div class="checkbox">
          <label> 
              <input type="checkbox" ng-model="categoryModel['Non-Profit Organization']">Non-Profit Organization
            </label>
          </div>  
          <div class="checkbox">
          <label> 
              <input type="checkbox" ng-model="categoryModel['Religious']">Religious
            </label>
          </div>  
          <div class="checkbox">
          <label>
              <input type="checkbox" ng-model="categoryModel['Government Agency']">Government Agency
            </label>
          </div>  
          <div class="checkbox">
          <label>
              <input type="checkbox" ng-model="categoryModel['Government Subsidy']">Government Subsidy
            </label>
          </div>  
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="categoryModel['For-Profit']">For-Profit
            </label>
          </div>
        </div><!-- End First group of checkboxes -->

        <!-- Second group of checkboxes -->
        <div class="col-md-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" ng-model="categoryModel['Community-Based Organization or Individual']" >Community-Based Organization or Individual
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" ng-model="categoryModel['Research and Studies']" >Research and Studies
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" ng-model="categoryModel['Food Resource']" >Food Resource
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="categoryModel['Farming / Gardening']" >Farming / Gardening
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="categoryModel['Legislation']" >Legislation
            </label>
          </div>
        </div><!-- End Second group of checkboxes -->

        <!-- Third group of checkboxes -->
        <div class="col-md-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="categoryModel['Advocacy']" >Advocacy
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="categoryModel['Food Waste']" >Food Waste
            </label>
          </div>
          <div class="checkbox">
          <label> 
              <input type="checkbox" value="" ng-model="categoryModel['Skill Building / Educational']" >Skill Building / Educational
            </label>
          </div>  
          <div class="checkbox">
          <label> 
              <input type="checkbox" value="" ng-model="categoryModel['Economic and Community Development']" >Economic and Community Development
            </label>
          </div>  
          <div class="checkbox">
          <label>
              <input type="checkbox" value="" ng-model="categoryModel['Youth']" >Youth
            </label>
          </div>  
        </div><!-- End Third group of checkboxes -->
        
        <!-- Fourth group of checkboxes -->
        <div class="col-md-3">
          <div class="checkbox">
          <label>
              <input type="checkbox" value="" ng-model="categoryModel['WIC']" >WIC
            </label>
          </div>  
          <div class="checkbox">
          <label> 
              <input type="checkbox" value="" ng-model="categoryModel['Seniors']" >Seniors
            </label>
          </div>  
          <div class="checkbox">
          <label> 
              <input type="checkbox" value="" ng-model="categoryModel['Obese']" >Obese
            </label>
          </div>  
        </div><!-- End Fourth group of checkboxes -->
          
      </div><!-- End Category Filter Checkboxes Row 1 -->
      
      <!-- -->
      <div class="row text-center" style="margin-top: 5%">
        <p>Search for any of the following: </p>
        <!--<ul>
          <li ng-repeat="x in searchResults">{{x}}</li>
        </ul>-->
        <p ng-repeat="x in searchResults">{{x}}</p>
        <button class="btn btn-primary" type="submit" value="Search">Search Food</button>
        <button class="btn btn-primary" type="button" ng-click="clearValues()">Clear Search</button>
      </div>
      
    </form>
      
  </div>
  
  <div ng-show="searchV">
    <div ng-repeat="item in organizations | filterBy: ['categories']: searchV">
        <div class="info">
          <h2>{{item.orgName}}</h2>
          <a href="{{item.website}}" target="_blank">
          <h3>{{item.website}}</h3>
          </a>  
          <p><b>Tags: </b><span>{{item.categories}}</span></p>
        </div>
    </div>
  </div>
  
  
  <th ng-show="{{ exArr | contains: 2 }}">...</th>
</div>