---
layout: null
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Food Oasis Los Angeles</title>
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi|Open+Sans" />
	<link rel="stylesheet" href="/assets/css/oasis.css" />
</head>
<body>
	{% include header.html %}

	<main>
	  <h1>News</h1>

	  <ul class="link-list">
	    {% for post in site.posts %}
	      <li>
			<a href="{{ post.url | prepend: site.baseurl }}">
				<h3>{{ post.title }}</h3>
				<p>{{ post.date | date: "%b %-d, %Y" }}</p>
	        </a>
	      </li>
	    {% endfor %}
	  </ul>
	</main>

	{% include footer.html %}

</body>
</html>
