<section>
    <h1>Add a Healthy Food Location</h1>
    <h2>
        <span class="label">
            Hi,
            <span id="userNameSpan">friend</span>
            !
        </span>
    </h2>
    <p>
        Please complete this form, to add a new location on the
        <a href="/locations/">map</a>
        !
    </p>
    <form id="addForm" action="https://foodoasis-contribute.glitch.me/add" method="post" style="margin-top: 3em;">
        <p>
            <label>
                Location Title
                <br/>
                <input type="text" name="title" id="locationTitle"/>
            </label>
        </p>
        <p>
            <label>
                Category
                <br/>
                <input type="text" name="category" id="locationCategory"/>
                <br/>
                <small style="font-style: italic;">Examples: Farmers Market, Community Garden, Food Pantry, Supermarket</small>
            </label>
        </p>
        <p>
            <label>
                Street Address
                <br/>
                <input type="text" name="address_1" id="locationAddress1"/>
            </label>
        </p>
        <p>
            <label>
                Street Address 2
                <br/>
                <input type="text" name="address_2" id="locationAddress2"/>
            </label>
        </p>
        <p>
            <label>
                City
                <br/>
                <input type="text" name="city" id="locationCity"/>
            </label>
        </p>
        <p>
            State
            <br/>
            <input type="text" name="state" value="California" disabled/>
        </p>
        <p>
            <label>
                ZIP Code
                <br/>
                <input type="text" name="zip" id="locationZip"/>
            </label>
        </p>
        <p>
            <label>
                Website
                <br/>
                <input type="text" name="website" id="locationWebsite"/>
            </label>
        </p>
        <p>
            <label>
                Phone
                <br/>
                <input type="text" name="phone" id="locationPhone"/>
            </label>
        </p>
        <hr/>
        <h2>Hours</h2>
        <script type="text/javascript">
                            function showHideHours(e) {
                              // pass element
                              // if same is selected show daily-hours-same
                                  if(e === 'same'){
                                    document.getElementById('daily-hours-different-radio').checked = false;
                                    document.getElementById('daily-hours-same').style.display = 'block';
                                    document.getElementById('daily-hours-different').style.display = 'none';
                                    // console.log("same is clicked"); 
                                  }
                                // else show daily-hours-different
                                else {
                                    document.getElementById('daily-hours-same-radio').checked = false;
                                    document.getElementById('daily-hours-same').style.display = 'none';
                                    document.getElementById('daily-hours-different').style.display = 'block';
                                    // console.log("different is clicked"); 
                                    }
                              }
        
                              // TODO create a function that makes sure that the open is after the closed to prevent user error
                              // TODO write a function that hides/greys out the hours if the day is "closed"
                 </script>
        <style>
        #daily-hours-different{
          display: none;
        }
        </style>
        <label for="daily-hours-same-radio">
            <input type="radio" name="daily-hours-same-radio" id="daily-hours-same-radio" onclick="showHideHours('same')" value="same" checked/>
            Same Hours Every Day
        </label>
        <br/>
        <label for="daily-hours-different-radio">
            <input type="radio" name="daily-hours-same-radio" id="daily-hours-different-radio" onclick="showHideHours('different')" value="different"/>
            Different Hours Every Day
        </label>
        <div id="daily-hours-same">
            <h2>Same Hours Every Day</h2>
            <p>
                <label>
                    Open
                    <select  name="SameHoursOpen" id="SameHoursOpen">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900" selected="selected">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
                <label>
                    Until
                    <select  name="SameHoursClose" id="SameHoursClose">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800" selected="selected">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
            </p>
        </div>
        <div id="daily-hours-different">
            <h4>Sunday</h4>
            <input type="checkbox" name="SundayClosed" value="SundayClosed"/>
            Closed on Sunday
            <br/>
            <p>
                <label>
                    Open
                    <select name="SundayHoursOpen" id="SundayHoursOpen">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900" selected="selected">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
                <label>
                    Until
                    <select name="SundayHoursClose" id="SundayHoursClose">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800" selected="selected">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
            </p>
            <h4>Monday</h4>
            <input type="checkbox" name="MondayClosed" value="MondayClosed"/>
            Closed on Monday
            <br/>
            <p>
                <label>
                    Open
                    <select  name="MondayHoursOpen" id="MondayHoursOpen">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900" selected="selected">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
                <label>
                    Until
                    <select name="MondayHoursClose" id="MondayHoursClose">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800" selected="selected">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
            </p>
            <h4>Tuesday</h4>
            <input type="checkbox" name="TuesdayClosed" value="TuesdayClosed"/>
            Closed on Tuesday
            <br/>
            <p>
                <label>
                    Open
                    <select  name="TuesdayHoursOpen" id="TuesdayHoursOpen">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900" selected="selected">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
                <label>
                    Until
                    <select name="TuesdayHoursClose" id="TuesdayHoursClose">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800" selected="selected">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
            </p>
            <h4>Wednesday</h4>
            <input type="checkbox" name="WednesdayClosed" value="WednesdayClosed"/>
            Closed on Wednesday
            <br/>
            <p>
                <label>
                    Open
                    <select name="WednesdayHoursOpen" id="WednesdayHoursOpen">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900" selected="selected">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
                <label>
                    Until
                    <select name="WednesdayHoursClose" id="WednesdayHoursClose">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800" selected="selected">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
            </p>
            <h4>Thursday</h4>
            <input type="checkbox" name="ThursdayClosed" value="ThursdayClosed"/>
            Closed on Thursday
            <br/>
            <p>
                <label>
                    Open
                    <select name="ThursdayHoursOpen" id="ThursdayHoursOpen">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900" selected="selected">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
                <label>
                    Until
                    <select name="ThursdayHoursClose" id="ThursdayHoursClose">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800" selected="selected">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
            </p>
            <h4>Friday</h4>
            <input type="checkbox" name="FridayClosed" value="FridayClosed"/>
            Closed on Friday
            <br/>
            <p>
                <label>
                    Open
                    <select name="FridayHoursOpen" id="FridayHoursOpen">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900" selected="selected">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
                <label>
                    Until
                    <select name="FridayHoursClose" id="FridayHoursClose">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800" selected="selected">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
            </p>
            <h4>Saturday</h4>
            <input type="checkbox" name="SaturdayClosed" value="SaturdayClosed"/>
            Closed on Saturday
            <br/>
            <p>
                <label>
                    Open
                    <select name="SaturdayHoursOpen" id="SaturdayHoursOpen">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900" selected="selected">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
                <label>
                    Until
                    <select name="SaturdayHoursClose" id="SaturdayHoursClose">
                        <option value="0000">12 am</option>
                        <option value="0030">12:30 am</option>
                        <option value="0100">1 am</option>
                        <option value="0130">1:30 am</option>
                        <option value="0200">2 am</option>
                        <option value="0230">2:30 am</option>
                        <option value="0300">3 am</option>
                        <option value="0330">3:30 am</option>
                        <option value="0400">4 am</option>
                        <option value="0430">4:30 am</option>
                        <option value="0500">5 am</option>
                        <option value="0530">5:30 am</option>
                        <option value="0600">6 am</option>
                        <option value="0630">6:30 am</option>
                        <option value="0700">7 am</option>
                        <option value="0730">7:30 am</option>
                        <option value="0800">8 am</option>
                        <option value="0830">8:30 am</option>
                        <option value="0900">9 am</option>
                        <option value="0930">9:30 am</option>
                        <option value="1000">10 am</option>
                        <option value="1030">10:30 am</option>
                        <option value="1100">11 am</option>
                        <option value="1130">11:30 am</option>
                        <option value="1200">12 pm</option>
                        <option value="1230">12:30 pm</option>
                        <option value="1300">1 pm</option>
                        <option value="1330">1:30 pm</option>
                        <option value="1400">2 pm</option>
                        <option value="1430">2:30 pm</option>
                        <option value="1500">3 pm</option>
                        <option value="1530">3:30 pm</option>
                        <option value="1600">4 pm</option>
                        <option value="1630">4:30 pm</option>
                        <option value="1700">5 pm</option>
                        <option value="1730">5:30 pm</option>
                        <option value="1800" selected="selected">6 pm</option>
                        <option value="1830">6:30 pm</option>
                        <option value="1900">7 pm</option>
                        <option value="1930">7:30 pm</option>
                        <option value="2000">8 pm</option>
                        <option value="2030">8:30 pm</option>
                        <option value="2100">9 pm</option>
                        <option value="2130">9:30 pm</option>
                        <option value="2200">10 pm</option>
                        <option value="2230">10:30 pm</option>
                        <option value="2300">11 pm</option>
                        <option value="2330">11:30 pm</option>
                    </select>
                </label>
            </p>
        </div>
        <br/>
        <br/>
        <hr/>
        <p>
            <label>
                Is there anything else you’d like to tell us about this location?
                <br/>
                <textarea name="notes" id="userText"></textarea>
            </label>
        </p>
        <p>
            <label>
                Your Name
                <br/>
                <input type="text" name="contributor_name"/>
            </label>
        </p>
        {% comment %}
        <p>
            <label>
                Your Email
                <br/>
                <input type="text" name="contributor_email"/>
            </label>
            <br/>
            <em>We’ll only use this to contact you with questions about this submission.</em>
        </p>
        {% endcomment %}
        <p class="action">
            <button type="submit">Add Location</button>
        </p>
    </form>
</section>
