{% for data in data_list %}
{
	latitude  : "{{ data.latitude }}",
	longitude : "{{ data.longitude }}",
	name      : "{{ data.name }}",
	address_1 : "{{ data.address_1 }}",
	address_2 : "{{ data.address_2 }}",
	city      : "{{ data.city }}",
	zip       : "{{ data.zip }}",
	category  : "{{ data.category }}",
	hours     : [{
		day       : "{{ data.daycode1 }}",
		open      : "{{ data.day1_open }}",
		close     : "{{ data.day1_close }}"
	},{
		day       : "{{ data.daycode2 }}",
		open      : "{{ data.day2_open }}",
		close     : "{{ data.day2_close }}"
	},{
		day       : "{{ data.daycode3 }}",
		open      : "{{ data.day3_open }}",
		close     : "{{ data.day3_close }}"
	},{
		day       : "{{ data.daycode4 }}",
		open      : "{{ data.day4_open }}",
		close     : "{{ data.day4_close }}"
	},{
		day       : "{{ data.daycode5 }}",
		open      : "{{ data.day5_open }}",
		close     : "{{ data.day5_close }}"
	},{
		day       : "{{ data.daycode6 }}",
		open      : "{{ data.day6_open }}",
		close     : "{{ data.day6_close }}"
	},{
		day       : "{{ data.daycode7 }}",
		open      : "{{ data.day7_open }}",
		close     : "{{ data.day7_close }}"
	}],
	uri       : "{{ data.uri }}"
}{% unless forloop.last %},{% endunless %}
{% endfor %}
