<header class="header">

	<div class="primary-nav">

		<h2><a href="/"><img src="/assets/images/fola.svg" width="100" alt="Food Oasis Los Angeles" /></a></h2>
		<p class="tagline">Healthy Food for All Angelenos</p>

		<p class="nav-link">
			<a href="{% if include_footer == false %}/{% endif %}#navigation">
				<svg width="22" height="19" viewBox="0 0 22 19">
					<switch>
						<g>
							<polygon points="0.450127877 18.1050725 21.5498721 18.1050725 21.5498721 13.9746377 0.450127877 13.9746377"></polygon>
							<polygon points="0.450127877 5.02536232 21.5498721 5.02536232 21.5498721 0.894927536 0.450127877 0.894927536"></polygon>
							<polygon points="0.450127877 11.5652174 21.5498721 11.5652174 21.5498721 7.43478261 0.450127877 7.43478261"></polygon>
						</g>
						<foreignobject>
							{{ site.data.locales[locale].nav.link_label }}
						</foreignobject>
					</switch>
				</svg>
			</a>
		</p>

		<nav role="navigation" class="slideout-menu" style="display:none">
			<div id="menuToggle">
				<input type="checkbox" />
				<svg width="22" height="19" viewBox="0 0 22 19">
					<switch>
						<g>
							<polygon points="0.450127877 18.1050725 21.5498721 18.1050725 21.5498721 13.9746377 0.450127877 13.9746377"></polygon>
							<polygon points="0.450127877 5.02536232 21.5498721 5.02536232 21.5498721 0.894927536 0.450127877 0.894927536"></polygon>
							<polygon points="0.450127877 11.5652174 21.5498721 11.5652174 21.5498721 7.43478261 0.450127877 7.43478261"></polygon>
						</g>
						<foreignobject>
							{{ site.data.locales[locale].nav.link_label }}
						</foreignobject>
					</switch>
				</svg>
				<div id="menu">
					<ul>
						<li><a class="nav-item" href="/">Home</a></li>
						<li><a class="nav-item" href="/locations">Map</a></li>
					</ul>
					<hr />
					<ul>
						<li><a class="nav-item small" href="/organizations">Organizations</a></li>
						<li><a class="nav-item small" href="/resources">Resources</a></li>
						<li><a class="nav-item small" href="/about">About</a></li>
						<li><a class="nav-item small" href="/team">Team</a></li>
						<li><a class="nav-item small" href="/news">News</a></li>
						<li><a class="nav-item small" href="/faqs">FAQs</a></li>
						<li><a class="nav-item small" href="{% if include_footer == false %}/{% endif %}#donate">Donate</a></li>
					</ul>
				</div>
			</div>
		</nav>

	</div><!-- /.primary -->

	{% if page.include_map_nav == true or layout.include_map_nav == true %}
	<nav class="secondary-nav location-list-nav">
		{% include location-list-nav.html %}
	</nav>
	{% endif %}

	{% if page.include_back == true or layout.include_back == true %}
	<nav class="secondary-nav">
		<p class="back"><a href="/locations/" id="back-link"><img src="/assets/images/icons/back.svg" /> <span>Find more locations</span></a></p>
	</nav>
	{% endif %}

</header>
