{% for data in data_list limit:list_limit offset:list_offset %}
	<li class="{{ data['category'] | downcase | replace: ' ', '-' }}" data-latitude="{{ data['latitude'] }}" data-longitude="{{ data['longitude'] }}">
		<a href="{{ data.uri }}" class="location-summary">

			{% assign category = data['category'] | downcase | replace: ' ', '-'  %}
			{% if
				category == 'food-pantry' or
				category == 'summer-lunch' or
				category == 'community-garden' or
				category == 'farmers-market' or
				category == 'supermarket' or
				category == 'restaurant' or
				category == 'orchard' or
				category == 'pop-up-market' %}
			<img src="/assets/images/home/{{ category }}.svg" width="100" alt="" />
			{% else %}
			<img src="/assets/images/home/supermarket.svg" width="100" alt="" />
			{% endif %}

			<h2>{{ data['name'] }}</h2>
			<p class="address">
				{{ data['address_1'] }}
				{% if data['address_2'] and data['address_2'] != '' %}
					<br />
					{{ data['address_2'] }}
				{% endif %}
			</p>
			<p class="type">{{ data['category'] }}</p>
			<script type="text/template" class="open-template" data-day="{{ data['day'] }}" data-open="{{ data['open'] }}" data-close="{{ data['close'] }}">
				<p class="open">Open Now</p>
			</script>
			<script type="text/template" class="distance-template">
				<p class="distance"><span></span> <abbr title="miles">mi</abbr></p>
			</script>
		</a>
	</li>
{% endfor %}
