
<ul class="options" id="search-views">
	<li class="filter"><a href="/filters/" id="filters-link">Filter</a></li>
	<li class="search">
		<a href="/search/" id="search-link">
			<img src="/assets/images/icons/search-black.svg" width="50" alt="Search" />
			<span id="search-type">{{ page.category }}</span> <span id="search-near">near</span> <em id="search-location" style="font-style: normal;">Los Angeles</em>
		</a>
	</li>
</ul>

<script type="text/template" id="search-views-template">
	<li class="view" id="list-button" style="display: none;"><a href="">List</button></a>
	<li class="view" id="map-button" style="display: none;"><a href="">Map</button></a>
</script>

<script src="/assets/js/location-list-nav.js"></script>
