<nav class="location-list-nav">
	<ul class="options" id="search-views">
		<li class="filter"><a href="/filters/" id="filters-link">Filter</a></li>
		<li class="search">
			<a href="/search/" id="search-link">
				<img src="/assets/images/icons/search-black.svg" width="50" style="height: 1.5em; width: auto;" alt="Search" />
				<span id="search-type">{{ page.category }}</span> <span id="search-near">near</span> <em id="search-location" style="font-style: normal;">Los Angeles</em>
			</a>
		</li>
	</ul>

	<script type="text/template" id="search-views-template">
		<li id="list-button" class="view" style="display: none;"><a href="">List</button></a>
		<li id="map-button" class="view" style="display: none;"><a href="">Map</button></a>
	</script>

	<script>
	var PAGE_PARAMETERS;
	var getParameterByName;
	var updateLink;

	(function() {
		// http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript#answer-901144	
		getParameterByName = function(name, url) {
			if (!url) url = window.location.href;
			name = name.replace(/[\[\]]/g, "\\$&");
			var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
					results = regex.exec(url);
			if (!results) return null;
			if (!results[2]) return '';
			return decodeURIComponent(results[2].replace(/\+/g, " "));
		}

		PAGE_PARAMETERS = {
			type   : getParameterByName('type') {% if page.category and page.category != 'Healthy Food' %}|| '{{ page.collection }}'{% endif %},
			address: getParameterByName('address'),
			deserts: getParameterByName('deserts'),
		};

		// SHIM: Make the type persistent

		updateLink = function(link) {
			var params = [];
			if (PAGE_PARAMETERS.type) params.push('type=' + PAGE_PARAMETERS.type);
			if (PAGE_PARAMETERS.address) params.push('address=' + PAGE_PARAMETERS.address);
			if (PAGE_PARAMETERS.deserts) params.push('deserts=' + PAGE_PARAMETERS.deserts);

			var queryString = params.join('&');
			link.setAttribute('href', link.getAttribute('href') + '?' + queryString);
		}

		if (PAGE_PARAMETERS.type || PAGE_PARAMETERS.address || PAGE_PARAMETERS.deserts) {
			var filtersLink = document.getElementById('filters-link');
			if (filtersLink) {
				updateLink(filtersLink);
			}

			var searchLink = document.getElementById('search-link');
			if (searchLink) {
				updateLink(searchLink);
			}
		}

		if (PAGE_PARAMETERS.type) {
			var types = PAGE_PARAMETERS.type.split('|');

			var searchType = document.getElementById('search-type');
			var near = document.getElementById('search-near');

			if (types.length === 1 || types.length === 2) {
				// SHIM: Translate to a human readable version of the “type”.
				var formattedTypes = [];
				for (var index = 0; index < types.length; index++) {
					formattedTypes.push((types[index] === 'food-pantry') ? 'food pantries' : types[index].replace(/\-/g, ' ') + 's');
				}
				searchType.innerText = formattedTypes.join(', ');
				searchType.style.textTransform = 'capitalize';
				//searchType.style.display = 'inline';
				//near.style.display = 'inline';
			} else {
				//searchType.style.display = 'none';
				//near.style.display = 'none';
				searchType.innerText = 'Everything';
				searchType.style.textTransform = 'capitalize';
			}
		}
	})();
	</script>
</nav>
