<ul class="options action">
	<li><a href="#shareable-link"><span><img src="/assets/images/icons/share.svg" height="24" class="icon" alt="" /></span> <span>Share</span></a></li>
	<li><a href="#directions"><span><img src="/assets/images/icons/directions.svg" height="24" class="icon" alt="" /></span> <span>Directions</span></a></li>
</ul><!-- /.options -->

<script>
function toggleDetailsOnPress(elementID) {
	// Hide the details until the link is pressed
	let link = document.querySelector('a[href="#' + elementID + '"]');
	let details = document.getElementById(elementID);
	if (link && details) {
		details.classList.add('inactive');
		link.addEventListener('click', function(e) {
			details.classList.remove('inactive');
			details.classList.add('active');
			e.preventDefault();
			link.classList.add('disabled');
			details.scrollIntoView(false);
		}, false);
	}
}
</script>

<div class="shareable-link" id="shareable-link">
	<h2>Share</h2>
	<p class="copy-paste">
		<label>
			<span>Here’s a link you can copy and paste:</span>
			<input type="text" onclick="this.setSelectionRange(0, this.value.length)" value="https://foodoasis.la{{ page.url }}" readonly="readonly" />
		</label>
	</p>
</div><!-- /.shareable-link -->

<script>
toggleDetailsOnPress('shareable-link');
</script>

<div class="directions" id="directions">
	<h2>Directions</h2>
	<p class="copy-paste">
		<label>
			<span>Here’s an address you can copy and paste:</span>
			<textarea onclick="this.setSelectionRange(0, this.value.length)" readonly="readonly">
{{ page['name'] }}
{{ page['address_1'] }}{% if page['address_2'] and page['address_2'] != '' %}
{{ page['address_2'] }}{% endif %}
{{ page['city'] }}, California {{ page['zip'] }}
</textarea>
		</label>
	</p>
	{% capture directions_url %}{{ page['latitude'] }},{{ page['longitude'] }},{{ page['name'] }} {{ page['address_1'] }} {% if page['address_2'] and page['address_2'] != '' %} {{ page['address_2'] }} {% endif %} {{ page['city'] }}, California {{ page['zip'] }}{% endcapture %}
	<p><a href="https://maps.google.com/maps?q={{ directions_url | escape }}">Get Directions on Google Maps</a></p>
</div>
<script>
toggleDetailsOnPress('directions');
</script>
