---
layout: default

title: Food near you in Los Angeles
---

{% include link-to-map.html %}

<h1 class="food-source-list-headline">Healthy food <span id="location">in Los Angeles</span></h1>

<ul class="food-source-list">
{% include list/food-pantry.html %}
{% include list/community-garden.html %}
{% include list/farmers-market.html %}
</ul>

<!-- Jim’s Google Maps API key -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4"></script>

<script src="/assets/js/list.js"></script>
