---
layout: default

title: Food near you in Los Angeles
---

{% include link-to-map.html %}

<div id="headline-placeholder"></div>
<script>
(function() {
	// http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript#answer-901144	
	function getParameterByName(name, url) {
		if (!url) url = window.location.href;
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, " "));
	}
	var address = getParameterByName('address');
	if (address) {
		document.getElementById('headline-placeholder').innerHTML = '<h1>' + address + '</h1>'
	}
})();
</script>

<ul class="food-source-list">
{% include list/food-pantry.html %}
{% include list/community-garden.html %}
{% include list/farmers-market.html %}
</ul>

<!-- Jim’s Google Maps API key -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4"></script>

<script src="/assets/js/list.js"></script>
