{% for food_source in site.data['community-gardens'] %}
	<li class="community-garden" data-latitude="{{ food_source['latitude'] }}" data-longitude="{{ food_source['longitude'] }}">
		<a href="/community-garden/{{ food_source['uri'] }}">
			<h2>{{ food_source['name'] }}</h2>
			<p class="type">Community Garden</p>
			<p>{{ food_source['address_1'] | escape }}</p>
			{% if food_source['hours'] %}
			<h3>Hours</h3>
			<p>{{ food_source['hours'] | escape }}</p>
			{% endif %}
			<script type="text/template" class="distance-template">
				<p class="distance"><span></span> miles away</p>
			</script>
		</a>
	</li>
{% endfor %}
