{% for food_source in site.data['community-gardens'] %}
	<li class="community-garden" data-latitude="{{ food_source['latitude'] }}" data-longitude="{{ food_source['longitude'] }}">
		<a href="/community-garden/{{ food_source['uri'] }}">
			<h2>{{ food_source['name'] }}</h2>
			<p class="type">Community Garden</p>
			<p>{{ food_source['address'] | escape }}</p>
			{% if food_source['hours'] %}
			<h3>Hours</h3>
			<p>{{ food_source['hours'] | escape }}</p>
			{% endif %}
			<!--
			<h3>Distance</h3>
			<p>0.2 miles</p>
			-->
		</a>
	</li>
{% endfor %}
