

	/* =Home
	----------------------------------------------- */
	@supports (position: sticky) or (position: -webkit-sticky) {
		.home .header {
			position: fixed;
		}
		.home .primary-nav h2,
		.home .primary-nav .tagline {
			transition: opacity 0.2s;
		}
		.home .header {
			transition: background-color 0.2s, color 0.2s;
		}
		.scrolled-up.home .header {
			box-shadow: none;
			background-color: transparent;
			color: white;
		}
		.scrolled-up.home .header h2,
		.scrolled-up.home .header .tagline {
			opacity: 0;
		}
	}

	.home footer {
		margin-top: 0;
	}
	.home footer::before,
	.home footer::after,
	.home footer .link-list::before,
	.home footer .link-list::after {
		display: none;
	}


	.home main {
		max-width: 60em;
		padding-bottom: 6em;
	}
	.home main:after {
		content: "";
		display: table;
		clear: both;
	}
	.home .introduction > * {
		position: relative;
		z-index: 1;
		text-align: center;
		color: white;
	}
	.home .introduction h1 {
		margin-top: 0;
	}
	.home .introduction a {
		color: inherit;
	}

	.home .introduction .search a {
		display: inline-block;
		padding: 0.375em 5em 0.375em 0.75em;
		border-radius: 0.25em;
		width: 20em;
		max-width: 100%;
		box-sizing: border-box;

		background: white;
		color: #B1B1B1;
		position: relative;
		border-width: 0;
		text-decoration: none;
		font-size: 1.5em;
		text-align: left;
		font-family: "Reem Kufi", "Helvetica Neue", Helvetica, sans-serif;
	}

	@media (max-width: 35em) {
		.home .introduction .search a {
			width: 100%;
		}
	}

	.home .introduction .search a::after {
		content: "";
		background: rgb(144, 194, 70); /* @lime */
		background-image: url(/assets/images/icons/search.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		border-top-right-radius: 0.25em;
		border-bottom-right-radius: 0.25em;
		height: 100%;
		width: 1.5em;
		position: absolute;
		padding-left: 0.75em;
		padding-right: 0.75em;
		top: 0;
		right: 0;
	}

	.home .introduction .about {
		max-width: 33em;
		margin-top: 1.25em;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		text-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
	}

	@media (min-width: 35em) {
		.home .introduction {
			display: table;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 3em;
		}
		
	}


	.home main {
		max-width: none;
		padding-bottom: 0;
	}

	.home .introduction {
		box-sizing: border-box;
		background-color: rgb(51, 51, 51);
		background-color: rgb(77, 85, 148); /* @grape */
		background-color: rgb(241, 95, 91); /* @strawberry */
		background-color: rgb(249, 192, 88); /* @canteloupe */
		background-color: rgb(144, 194, 70); /* @lime */
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		color: white;
		max-width: none;
		display: block;
		margin: -1.5em -1.5em 0;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 3em;
		padding-bottom: 6em;
		flex-direction: column;
	}
	.home .introduction:before {
		content: "";
		background: rgba(0, 0, 0, 0.25);
		background: rgba(0, 0, 0, 0.25) linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.home .photo-credit {
		position: absolute;
		bottom: 1.5em;
		left: 1.5rem;
		margin: 0;
		font-size: 0.75em;
		opacity: 0.5;
	}
	@media (min-width: 30em) {
		.home .photo-credit {
			left: 3rem;
		}
	}
	.home .photo-credit a {
		color: inherit;
	}
	.home .introduction h1 {
		margin-top: 0;
		color: inherit;
		font-size: 1.25em;
	}
	.home .introduction h1 img {
		width: 3.75em;
		height: auto;
	}
	@media (min-width: 30em) {
		.home .introduction h1 {
			font-size: 1.5em;
		}
	}


