
		.sidebar {
			position:absolute;
			width:33.3333%;
			top:0;
			left:0;
			overflow:hidden;
			border-right:1px solid rgba(0,0,0,0.25);
			top: 5.375rem;
			height: calc(100vh - 5.375rem); /* header height */
		}
		.pad2 {
			padding:20px;
		}
		.sidebar h1 {
			margin: 0;
			font-size: inherit;
		}

		div.map {
			position:absolute;
			left:33.3333%;
			width:66.6666%;
			bottom:0;
			top: 5.375rem;
			height: 500px;
			height: 100vh;
			height: calc(100vh - 5.375rem); /* header height */
		}

		.heading {
			background:#fff;
			border-bottom:1px solid #eee;
			height:60px;
			line-height:60px;
			padding:0 10px;
		}

		.listings {
			height:100%;
			overflow:auto;
			padding-bottom:60px;
		}

		.listings .item {
			display:block;
			border-bottom:1px solid #eee;
			padding:10px;
			text-decoration:none;
		}

		.listings .item:last-child { border-bottom:none; }
		.listings .item .title {
			display:block;
			font-weight:700;
		}


		.listings .item .title small { font-weight:400; }
		.listings .item.active .title,
		.listings .item .title:hover { color: rgb(144, 194, 70); /* @lime */ }
		.listings .item.active {
			background-color:#f8f8f8;
		}


		.clearfix { display:block; }
		.clearfix:after {
			content:'.';
			display:block;
			height:0;
			clear:both;
			visibility:hidden;
		}

		/* Marker tweaks */
		/*
		div.mapboxgl-popup {
			padding-bottom: 50px;
		}
		*/

		div.mapboxgl-popup-close-button {
			display:none;
		}

		div.mapboxgl-popup-content {
			padding: 0;
			overflow: hidden; /* For rounded corners */
		}
		/*
		div.mapboxgl-popup-content {
			font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
			padding:0;
			max-width: 80vw;
		}

		div.mapboxgl-popup-content-wrapper {
			padding:1%;
		}

		div.mapboxgl-popup-content h3 {
			background:#91c949;
			color:#fff;
			margin:0;
			display:block;
			padding:10px;
			border-radius:3px 3px 0 0;
			font-weight:700;
			margin-top:-15px;
		}

		div.mapboxgl-popup-content h4 {
			margin:0;
			display:block;
			padding: 10px 10px 10px 10px;
			font-weight:400;
			margin: 0;
		}
		*/

		/*div.mapboxgl-popup-farmers-market h3 {
			background:#91c949;
			color:#fff;
			margin:0;
			display:block;
			padding:10px;
			border-radius:3px 3px 0 0;
			font-weight:700;
			margin-top:-15px;
		}

		div.mapboxgl-popup-community-garden h3 {
			background:#F9C058;
			color:#fff;
			margin:0;
			display:block;
			padding:10px;
			border-radius:3px 3px 0 0;
			font-weight:700;
			margin-top:-15px;
		}

		div.mapboxgl-popup-food-bank h3 {
			background:#F37568;
			color:#fff;
			margin:0;
			display:block;
			padding:10px;
			border-radius:3px 3px 0 0;
			font-weight:700;
			margin-top:-15px;
		}

		div.mapboxgl-popup-content div {
			padding:10px;
		}
		*/

		div.mapboxgl-container .leaflet-marker-icon { 
			cursor:pointer; 
		}

		/*
		div.mapboxgl-popup-anchor-top > div.mapboxgl-popup-content {
			margin-top: 15px;
		}

		div.mapboxgl-popup-anchor-top > div.mapboxgl-popup-tip {
			border-bottom-color: #91c949;
		}
		*/

		.farmers-market-marker {
			border: none;
			cursor: pointer;
			height: 56px;
			width: 43px;
			background-image: url(/assets/images/map/farmers-market.svg);
			background-color: rgba(0, 0, 0, 0);
			transform: translate(28px, 56px, 0);
		}

		.community-garden-marker {
			border: none;
			cursor: pointer;
			height: 56px;
			width: 43px;
			background-image: url(/assets/images/map/community-garden.svg);
			background-color: rgba(0, 0, 0, 0);
			transform: translate(28px, 56px, 0);
		}

		.food-bank-marker {
			border: none;
			cursor: pointer;
			height: 56px;
			width: 43px;
			background-image: url(/assets/images/map/food-bank.svg);
			background-color: rgba(0, 0, 0, 0);
			transform: translate(28px, 56px, 0);
		}

		div.map-point-details h3 {
			font-size: inherit;
			margin: -0.75em -0.75em 0.375em -0.75em;
			padding: 0.75em;
		}
		div.map-point-details h3 a {
			color: inherit;
		}
		div.map-point-details.food-bank h3 {
			background: rgb(249, 192, 88); /* @canteloupe */
			color: white;
		}
		div.map-point-details.community-garden h3 {
			background: rgb(144, 194, 70); /* @lime */
			color: white;
		}
		div.map-point-details.farmers-market h3 {
			background: rgb(241, 95, 91); /* @strawberry */
			color: white;
		}

		.foodBank {
			background-color: #F9C058;
			color: white;
		}

		.communityGarden {
			background-color: #91c949;
			color: white;
		}

		.farmersMarket {
			background-color: #F37568;
			color: white;
		}

		.map-filters {
			position: absolute;
			z-index: 9999;
			top: 6.625rem;
			left: 35%;
			left: calc(33% + 1.5rem);
		}

		@media (max-width: 45em) and (max-height: 45em) {
			.sidebar,
			.listings {
				display: none;
			}
			div.map {
				width: 100%;
				left: 0;
			}
			.filters {
				left: 1.5rem;
				display: none;
			}
		}

		#all-locations {
			font-weight: bold;
			font-size: 35px;
		}



		/* TEMPORARY: Hide the sidebar  */
		.sidebar {
			display: none;
		}
		div.map {
			left: 0;
			width: 100%;
		}
		.map-filters {
			left: 1.5em;
		}



