

	/* =Map
	----------------------------------------------- */
	.map-container.active {
		height: 500px;
		height: 50vh;
		height: calc(100vh - 14.625em);
		height: calc(100vh - 18.75em);
		width: 100%;
		overflow: hidden;
	}

	/*
	@media (min-width: 600px) and (min-height: 600px) {
		.map-container.active {
			height: calc(100vh - 16em);
		}
	}
	@media (min-width: 800px) and (min-height: 800px) {
		.map-container.active {
			height: calc(100vh - 16.75em);
		}
	}
	@media (min-width: 1000px) and (min-height: 1000px) {
		.map-container.active {
			height: calc(100vh - 17.75em);
		}
	}
	@media (min-width: 1200px) and (min-height: 1200px) {
		.map-container.active {
			height: calc(100vh - 18.75em);
		}
	}
	*/

	.has-map-location-summary .map-container.active {
		height: calc(100vh - 30em);
		min-height: 45vh;
	}

	.location-details .map-container {
		height: 20vh;
	}
	.location-details .map-container.expanded {
		height: 50vh;
	}

	@keyframes map-location-fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 100;
		}
	}

	.has-map-location-summary .location-summary-container {
		background: rgb(253, 254, 255);
		padding: 0.75em 1.5em 7.25em; /* @location-summary-padding */ /* 1.45em x 5 */
	}



	/* SHIM: Reduce the space above the list on small screens */
	@media (max-height: 45em) {
		.has-map-location-summary .location-summary-container {
			padding-top: 0;
		}
	}

	/*
	.only-map main,
	.only-map .pagination {
		display: none !important;
	}
	*/

	/*
	.only-list #map,
	.only-list .location-summary-container {
		display: none !important;
	}
	*/

	/*@media (max-aspect-ratio: 1/1) {*/
		.only-list .map-container.active {
			height: 20vh;
			min-height: 0;
		}
		.only-map .map-container.active {
			height: calc(100vh - 20em);
			min-height: 0;
		}
		.only-map.has-map-location-summary .map-container.active {
			height: calc(100vh - 26.5em);
			min-height: 0;
		}
		/*
		.only-list .search-this-area,
		.only-list.has-search-this-area .search-this-area {
			display: none;
		}
		*/
		.only-list.location-list main > h2:first-child {
			/* @hidden-accessible */
			position: absolute;
			left: -9999px;
		}

		/* EXPERIMENTAL */
		.only-list                .map-container.active,
		.has-map-location-summary .map-container.active,
		.only-map.has-map-location-summary .map-container.active {
			height: 20vh;
			height: 50vh;
			height: calc(50vh - 5em);
			min-height: 0;
		}
	/*}*/

	@supports (display: grid) {
		@media (min-aspect-ratio: 1/1) {
			/* EXPERIMENTAL */
			.only-list                .map-container.active,
			.has-map-location-summary .map-container.active,
			.only-map.has-map-location-summary .map-container.active  {
				height: calc(100vh - 11em);
			}
		}
	}

	.has-map-location-summary .location-list-nav {
		display: none;
	}
	.has-map-location-summary .back-nav {
		display: block !important;
	}

	/*
	.has-active-map.location-list li#list-button {
		opacity: 0;
		cursor: default;
	}
	*/


	.has-active-map.has-map-location-summary.location-list main {
		display: none !important;
	}

	@supports (display: grid) {

		/*
		.only-map main,
		.only-map .pagination {
			display: block !important;
		}

		.only-list #map,
		.only-list .location-summary-container {
			display: block !important;
		}
		*/

		/*
		@media (max-width: 1/1) {
			.only-map main,
			.only-map .pagination {
				display: none !important;
			}
			.only-list #map,
			.only-list .location-summary-container {
				display: none !important;
			}
		}
		*/
		@media (min-aspect-ratio: 1/1) {

			.location-list.has-active-map,
			.has-map-location-summary.location-list.has-active-map {
				display: grid;
				grid-template-columns: 50vw auto;
			}
		}
		@media (min-aspect-ratio: 3/2) and (min-width: 80em) {
			.location-list.has-active-map,
			.has-map-location-summary.location-list.has-active-map {
				display: grid;
				grid-template-columns: 33.3333vw auto;
			}
		}

		.has-active-map.location-list .secondary-nav .view a {
			opacity: 0;
			cursor: default;
		}

		@media (min-aspect-ratio: 1/1) {

			/*
			.has-active-map .pagination {
				display: none !important;
			}
			*/

			.has-active-map.location-list .header,
			.has-map-location-summary.has-active-map.location-list .header {
				grid-column-start: 1;
				grid-column-end: 3;
			}
			.has-active-map .map-container,
			.has-map-location-summary.has-active-map .map-container {
				grid-row-start: 2;
				grid-row-end: 3;
				grid-column-start: 2;
				grid-column-end: 3;
			}
			.has-active-map.location-list main,
			.has-map-location-summary.has-active-map.location-list main {
				grid-row-start: 2;
				grid-row-end: 4;
				grid-column-start: 1;
				grid-column-end: 2;
				height: 100vh;
				height: calc(100vh - 12.625em);
				overflow-y: auto;

				/* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling */
				-webkit-overflow-scrolling: touch;
			}
			/*
			.location-summary-container {
				grid-row-start: 3;
				grid-row-end: 4;
				grid-column-start: 2;
				grid-column-end: 3;
			}
			*/
			body.location-list main > h2:first-child {
				/* @hidden-accessible */
				position: absolute;
				left: -9999px;
			}
			.has-map-location-summary.has-active-map.location-list main {
				grid-row-start: 3;
				grid-row-end: 4;
				grid-column-start: 1;
				grid-column-end: 2;
				height: auto;
				overflow-y: visible;

				display: none !important;
			}
			.has-map-location-summary.has-active-map .location-summary-container {
				grid-row-start: 2;
				grid-row-end: 3;
				grid-column-start: 1;
				grid-column-end: 2;
				max-width: 100%;
				box-sizing: border-box;
				height: 100vh;
				height: calc(100vh - 6.625em);
				overflow-y: auto;
				padding-bottom: 1.5em;
			}
		}
	}


	/* =Search this area
	----------------------------------------------- */
	@keyframes search-this-area-fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 100;
		}
	}
	.search-this-area {
		position: absolute;
		top: 7.25em;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		display: none;
	}
	.search-this-area a {
		text-transform: none;
		border-width: 0;
		background: white !important;
		color: rgb(77, 85, 148) !important; /* @grape */
		box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.125);

		/* SHIM: Match Mapbox style */
		box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
	}
	.has-search-this-area .search-this-area {
		display: block;
		animation: search-this-area-fade-in 1s;
	}


	/* =You are here
	----------------------------------------------- */
	@keyframes you-are-here-sonar {
		0% {
			transform: scale(1);
			opacity: 1;
		}
		50% {
			transform: scale(1);
			opacity: 1;
		}
		100% {
			transform: scale(3);
			opacity: 0;
		}
	}

	@keyframes you-are-here-shrink {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(0.875);
		}
		100% {
			transform: scale(1);
		}
	}


	.you-are-here::before {
		content: "";
		display: block;
		border-radius: 50%;
		background-color: rgb(0, 128, 255);
		opacity: 0.5;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;

		animation: you-are-here-sonar 3s infinite ease-out;
	}
	.you-are-here::after {
		content: "";
		display: block;
		border-radius: 50%;
		position: absolute;
		top: -20%;
		left: -20%;
		z-index: -1;
		width: 140%;
		height: 140%;
		background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 40%, transparent 60%, transparent 100%);
		background-size: contain;
	}

	.you-are-here {
		position: relative;
		font-size: 1rem;
		margin-top: -1.25em;
		margin-right: -1.25em;
		background: white;
		padding: 0.2em;
		border-radius: 50%;
		display: inline-block;
		width: auto !important;
		height: auto !important;
	}
	.you-are-here span {
		display: block;
		width: 1.05em;
		height: 1.05em;
		background-color: rgb(0, 128, 255);
		border-radius: 50%;
		animation: you-are-here-shrink 3s 1.5s infinite both;

		/* @hidden-accessible-text */
		text-indent: -9999px;
		overflow: hidden;
	}


	/* =Marker
	----------------------------------------------- */
	.marker-label {
		margin: 0;
		position: absolute;
		top: 100%;
		left: 50%;
		white-space: nowrap;
		text-align: center;
		padding: 0.375em 0.75em;
		background: white;
		background: rgba(255, 255, 255, 0.5);
		font-family: "Reem Kufi", "Helvetica Neue", Helvetica, sans-serif;
		transform: translateX(-50%);
		transition: opacity 0.2s;
	}
	.hidden-marker-labels .marker:not(.active) .marker-label {
		opacity: 0;
		display: none;
	}
	/* SHIM: Hide marker labels on the tiny map */
	/*@media (max-aspect-ratio: 1/1) {*/
		.only-list                .marker-label,
		.has-map-location-summary .marker-label {
			opacity: 0;
			display: none;
		}
	/*}*/

	.location-summary-container > div {
		max-width: 40em;
		margin-left: auto;
		margin-right: auto;
		animation: map-location-fade-in 0.2s;
	}

	/* OPTIONAL: */
	.location-summary-container {
		position: relative;
	}
	.location-summary-container > div::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0.2em;
		background-color: rgb(144, 194, 70); /* @lime */
	}
	.location-summary-container > div.supermarket::before,
	.location-summary-container > div.popup-market::before,
	.location-summary-container > div.restaurant::before,
	.location-summary-container > div.farmers-market::before {
		background-color: rgb(241, 95, 91); /* @strawberry */
	}
	.location-summary-container > div.orchard::before,
	.location-summary-container > div.summer-lunch::before,
	.location-summary-container > div.food-pantry::before {
		background: rgb(249, 192, 88); /* @canteloupe */
	}

	.marker {
		cursor: pointer;
		height: 46px;
		width: 30px;
		background-image: url(/assets/images/map/pin-purple-small.svg);
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: -15px;
		margin-top: -40px;
	}

	.pop-up-market-marker,
	.restaurant-marker,
	.farmers-market-marker {
		cursor: pointer;
		height: 46px;
		width: 30px;
		background-image: url(/assets/images/map/pin-red-small.svg);
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: -15px;
		margin-top: -40px;
	}

	.community-garden-marker {
		cursor: pointer;
		height: 46px;
		width: 30px;
		background-image: url(/assets/images/map/pin-green-small.svg);
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: -15px;
		margin-top: -40px;
	}

	.summer-lunch-marker,
	.orchard-marker,
	.food-pantry-marker {
		cursor: pointer;
		height: 46px;
		width: 30px;
		background-image: url(/assets/images/map/pin-yellow-small.svg);
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: -15px;
		margin-top: -40px;
	}

	.marker.active {
		cursor: default;
		height: 70px;
		width: 42px;
		background-image: url(/assets/images/map/pin-purple-large.svg);
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: -21px;
		margin-top: -64px;
	}

	.pop-up-market-marker.active,
	.restaurant-marker.active,
	.farmers-market-marker.active {
		cursor: default;
		height: 70px;
		width: 42px;
		background-image: url(/assets/images/map/pin-red-large.svg);
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: -21px;
		margin-top: -64px;
	}

	.community-garden-marker.active {
		cursor: default;
		height: 70px;
		width: 42px;
		background-image: url(/assets/images/map/pin-green-large.svg);
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: -21px;
		margin-top: -64px;
	}

	.summer-lunch-marker.active,
	.orchard-marker.active,
	.food-pantry-marker.active {
		cursor: default;
		height: 70px;
		width: 42px;
		background-image: url(/assets/images/map/pin-yellow-large.svg);
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: -21px;
		margin-top: -64px;
	}
	
	.supermarket-marker.active {
		cursor: default;
		height: 70px;
		width: 42px;
		background-image: url(/assets/images/map/pin-red-large.svg);
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: -21px;
		margin-top: -64px;
	}

