

	/* = Slideout Menu
	----------------------------------------------- */
	.scrolled-up.home nav {
		background-color: transparent;
		color: white;
	}

	.slideout-menu {
		box-shadow: none;
		border-top: none;
		position: relative;
		z-index: 2; /* Just above the .seconary-nav element */
	}

	#menuToggle {
	display: block;
	position: relative;
	z-index: 1;
	
	-webkit-user-select: none;
	user-select: none;
	}

	#menuToggle input
	{
	display: block;
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	z-index: 9999; /* @infinity */
	font-size: inherit;
	margin: 0;
	
	cursor: pointer;
	
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */
	
	-webkit-touch-callout: none;
	}

	/* CSS for the hamburger */
	#menuToggle span
	{
	/*
	font-size: 0.875em;
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	
	background: #cdcdcd;
	border-radius: 3px;
	
	z-index: 1;
	*/
	
	transform-origin: 0.25em 0; /* 4px / 16px */

	/*
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.55s ease;
	*/
	}
	#menuToggle svg {
		position: relative;
		z-index: 1;
		opacity: 0.5;
		vertical-align: middle;
		height: 1.5em;
		width: 1.5em;
	}
	#menuToggle svg polygon {
		fill: currentColor;
	}

	/*
	#menuToggle span:first-child
	{
	transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	transform-origin: 0% 100%;
	}
	*/

	/* 
	* Transform all the slices of hamburger
	* into a crossmark.
	*/
	/*
	#menuToggle input:checked ~ span
	{
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
	}
	*/
	#menuToggle input:checked ~ svg {
		color: black;
		opacity: 1;
	}
	#menuToggle input:checked ~ svg polygon {
		transform-origin: 50% 50%;
		/*
		transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		*/
	}
	#menuToggle input:checked ~ svg polygon:nth-child(1) {
		transform: rotate(45deg) translate(-22.5%, -100%);
	}
	#menuToggle input:checked ~ svg polygon:nth-child(2) {
		opacity: 0;
	}
	#menuToggle input:checked ~ svg polygon:nth-child(3) {
		transform: rotate(-45deg) translate(0, 0);
	}
	#menuToggle input:not(:checked) ~ svg polygon:nth-child(1),
	#menuToggle input:not(:checked) ~ svg polygon:nth-child(2),
	#menuToggle input:not(:checked) ~ svg polygon:nth-child(3) {
		transform: rotate(0) translate(0, 0);
		opacity: 1;
	}

	/*
	* hides middle one
	*/
	/*
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
	}
	*/

	/*
	* Make this absolute positioned
	* at the top left of the screen
	*/
	#menu
	{
	position: absolute;
	width: 300px;
	margin: -100px 0 0 -58px;
	padding: 125px 50px 50px 70px;
	height:100vh;

	background: rgb(241,241,241);
	-webkit-font-smoothing: antialiased;
	
	transform-origin: 0% 0%;
	transform: translate(-105%, 0);
	
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	#menu ul,
	#menu li {
	list-style-type: none;
	padding-left: 0;
	}

	.nav-item
	{
	display: block;
	padding: 10px 0;
	font-size: 22px;
	text-decoration: none;
	color: #232323;  
	transition: color 0.3s ease;
	}

	.nav-item:hover,
	.nav-item:active,
	.nav-item:focus {
	color: tomato;
	}

	.nav-item.small {
		font-size:18px;
		color:gray;
	}
	/*
	* fade in from left
	*/
	#menuToggle input:checked ~ #menu
	{
	transform: scale(1.0, 1.0);
	opacity: 1;
	}

	/* Replace the default menu with a slide-out menu. If browser supports transform:translate */
	@supports (transform: translate(-105%, 0)) {
		.nav-link {
	  		/*display: none;*/
		}
		.slideout-menu {
  			/*display: block !important;*/ /* !important will override any inline style applied to this element. */
		}
	}
