@charset "utf-8";


body {
  margin: 1.5em;
  padding: 0;
  font-family: "Reem Kufi", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5; /* @page-margin */
}

a {
  color: #4D5594;
}
a:visited {
  color: #562949;
}

img {
  max-width: 100%;
  height: auto;
}

.mapbox {
  height: 600px;
  margin-left: -1.5rem; /* @page-margin */
  margin-right: -1.5rem;
}

.map-point-details h3 {
  margin-top: 0;
}
.map-point-details h4 {
  margin-bottom: 0;
}
.map-point-details .hours {
  margin-top: 0;
  max-width: 15em;
}
.map-point-details p:last-child {
  margin-bottom: 0;
}

.title {
  display: block;
  margin-bottom: 0.5em;
}
.title + br {
  display: none;
}
.icon {
  vertical-align: middle;
  width: 20px;
  margin-right: 0.25em;
}
.icon + span {
  font-weight: bold;
}



@media (min-width: 30em) {
  body {
    margin-left: 3em; /* @page-margin-widescreen */
    margin-right: 3em; /* @page-margin-widescreen */
    margin-bottom: 3em; /* @page-margin-widescreen */
  }
  .mapbox {
    margin-left: -3rem; /* @page-margin-widescreen */
    margin-right: -3rem;
  }
}



.home .header {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
}
.home .header h1 {
  color: white;
  font-size: inherit;
  margin: 0;
  padding: 0.375em 0.75em;
}

.home .mapbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
@media (min-width: 20em) {
  .home .header {
    bottom: 25px;
  }
}
@media (min-width: 40em) {
  .home .header {
    right: auto;
    left: 0;
    bottom: 0;
  }
}



.food-source footer h2 {
  font-size: inherit;
  margin-top: 3em;
}
.food-source h1 {
  margin-bottom: 0;
}
.food-source h1 + p {
  margin-bottom: 1.5em;
}

.food-source .mapbox {
  height: 150px;
}

/* OPTIONAL: Make the map taller on larger screens. */
@media (min-height: 500px) {
  .food-source .mapbox {
    height: 33vh;
  }
}

@media (min-width: 60em) {

/* Make the map shorter on the details page */
.food-source .mapbox {
  width: 50%;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  height: 100vh;
}
.food-source .page-contents {
  width: 45%;
}
}
@media (min-width: 60em) and (min-height: 40em) {
  .food-source footer h2 {
    margin-bottom: 0;
    position: absolute;
    bottom: 1.5em;
    left: 3em;
  }
}
@media (min-height: 50em) {
  .food-source footer h2 {
    margin-bottom: 0;
    position: absolute;
    bottom: 1.5em;
    left: 3em;
  }
}
