
	@charset "utf-8";

	/*
	Oasis Style Sheet

	Sections are grouped under headings with a “=” symbol,
	to make searching easier.

	When a style is used more than once, it sometimes has a “@keyword”
	in a comment next to it (to help with search and replace).

	For example…

	16px  @font-size
	24px  @line-height
	32em  @page-max-width
	*/


	/* =Elements
	----------------------------------------------- */
	html, body {
		min-height: 100%;
	}
	body {
    	background: rgb(253, 254, 255);
		color: rgba(0, 0, 0, 0.9);
		margin: 0;
		padding: 1.5em;
		font: 100%/1.5 "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
	}

	/* OPTIONAL: Increase the font size on big screens. */
	@media screen and (min-width: 600px) and (min-height: 600px) {
		html {
			font-size: 112.5%;
		}
	}
	@media screen and (min-width: 800px) and (min-height: 800px) {
		html {
			font-size: 125%;
		}
	}
	@media screen and (min-width: 1000px) and (min-height: 1000px) {
		html {
			font-size: 137.5%;
		}
	}
	@media screen and (min-width: 1200px) and (min-height: 1200px) {
		html {
			font-size: 150%;
		}
	}

	@media (min-width: 30em) {
		body {
			padding-left: 3em; /* @page-margin-widescreen */
			padding-right: 3em; /* @page-margin-widescreen */
			padding-bottom: 3em; /* @page-margin-widescreen */
		}
	}

	p {
		max-width: 40em;
	}

	a {
		color: rgb(249, 192, 88); /* @canteloupe */
		color: rgb(144, 194, 70); /* @lime */
		color: rgb(77, 85, 148); /* @blueberry */
		color: rgb(241, 95, 91); /* @strawberry */
		text-decoration: underline;
	}
	abbr {
		text-decoration: inherit;
	}
	/*
	a:not([href]) {
		color: inherit;
		opacity: 0.5;
	}
	*/

	h1, h2, h3, h4, h5, h6 {
		font-family: "Reem Kufi", "Helvetica Neue", Helvetica, sans-serif;
		font-weight: normal;
	}
	h1 {
		margin-top: 1.5em;
	}

 	/* Shrink images to fit the available space */
	img {
		max-width: 100%;
		height: auto;
	}

	/* Make new HTML elements look nice in older browsers */
	main, section, article, aside, nav, header, footer, figure {
		display: block;
	}

	.icon {
		vertical-align: text-top;
		width: 1.5em;
		height: 1.5em;
		margin-right: 0.25em;
	}


	/* =Link List
	----------------------------------------------- */
	.link-list,
	.link-list li {
		list-style: none;
		padding-left: 0;
		margin-left: 0;
	}
	.link-list a {
		display: block;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
		text-decoration: none;
	}
	.link-list a:hover,
	.link-list a:active,
	.link-list a:focus {
		text-decoration: underline;
	}
	.link-list li + li a {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}


	/* =Food Source List
	----------------------------------------------- */
	.food-source-list,
	.food-source-list li {
		list-style: none;
		padding-left: 0;
		margin-left: 0;
	}
	.food-source-list a {
		display: block;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		text-decoration: none;
		color: inherit;
	}
	.food-source-list h2 {
		margin-top: 0;
		margin-bottom: 0;
		color: rgb(241, 95, 91); /* @strawberry */
		text-decoration: underline;
	}
	.food-source-list a:hover h2,
	.food-source-list a:active h2,
	.food-source-list a:focus h2 {
	}
	.food-source-list li + li a {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	.food-source-list h3 {
		margin-bottom: 0;
	}
	.food-source-list h2 + p,
	.food-source-list h3 + p {
		margin-top: 0;
	}
	.food-source-list p:last-child {
		margin-bottom: 0;
	}
	.food-source-list .type {
		font-style: italic;
		opacity: 0.5;
	}

	/* SHIM: Avoid showing the unsorted content while the sorting is taking place */
	.food-source-list.sorting li {
		visibility: hidden;
	}
	.food-source-list.sorting::before {
		content: "Searching…";
		display: block;
	}



	/* =Header
	----------------------------------------------- */
	.header h2 {
		font-size: 1.5em;
		font-weight: inherit;
		margin: -1.5rem -1.5rem 0;
		text-align: center;
	}
	.header h2 a {
		display: block;
		padding: 1.125em 0.75rem;
		text-align: right;
		margin-left: 0.75rem;
		margin-right: 0.75rem;
		color: inherit;
	}
	.header h2 svg {
		display: block;
		opacity: 0.85;
		width: 12.5rem; /* 300px * 2/3 / 16px */
		height:1.625rem; /* 38px * 2/3 / 16px */
	}
	@media (min-width: 30em) {
		.header h2 svg {
			width: 18.75rem; /* 300px / 16px */
			height: 2.375rem; /* 38px / 16px */
		}
	}
	.header h2 svg .food-oasis * {
		fill: rgb(144, 194, 70); /* @lime */
	}
	/*
	.header h2 a:hover svg .food-oasis path,
	.header h2 a:hover svg .food-oasis polygon,
	.header h2 a:hover svg .food-oasis rect,
	.header h2 a:active svg .food-oasis path,
	.header h2 a:active svg .food-oasis polygon,
	.header h2 a:active svg .food-oasis rect,
	.header h2 a:focus svg .food-oasis path,
	.header h2 a:focus svg .food-oasis polygon,
	.header h2 a:focus svg .food-oasis rect {
		fill: rgb(124, 174, 50);
	}
	*/
	.header h2 svg .los-angeles path {
		fill: currentColor;
	}

	.canteloupe .header h2 svg .food-oasis * {
		fill: rgb(249, 192, 88); /* @canteloupe */
	}
	.lime .header h2 svg .food-oasis * {
		fill: rgb(144, 194, 70); /* @lime */
	}
	.strawberry .header h2 svg .food-oasis * {
		fill: rgb(241, 95, 91); /* @strawberry */
	}
	.blueberry .header h2 svg .food-oasis * {
		fill: rgb(77, 85, 148); /* @blueberry */
	}

	/*
	@media (max-width: 29.99999em) {
		.header h1 svg,
		.header h2 svg {
			width: 70%;
		}
	}
	*/
	@media (min-width: 30em) {
		.header h2 {
			margin-left: -3rem;
			margin-right: -3rem
		}
		.header h2 a {
			margin-left: 2.25rem;
		}
	}

	/* Position the nav on top of the map */
	.header + nav {
		display: block;
		position: absolute;
		z-index: 1;
		top: 1.5em;
		right: 1.5em;
	}
	.header + nav .icon {
		height: 1.5em;
		width: 1.5em;
		margin-left: -0.75em;
		vertical-align: text-top;
	}
	@media (max-width: 30em) {
		.header + nav {
			top: 1.25em;
		}
	}
	@media (max-width: 50em) {
		.header + nav .icon {
			margin-right: -0.75em;
		}
		.header + nav .icon + span {
			/* @hidden-accessible */
			position: absolute;
			left: -9999px;
		}
	}

	/* Drop-down Menu in Header
	----------------------------------------------- */

	.dropbtn {
	    background-color: #A1CB62;
	    color: white;
	    padding: 16px;
	    font-size: 16px;
	    border: none;
	    cursor: pointer;
	    padding: 8px;
	    position: relative;
	    top: -50px;
	    left: 500px;
	}

	.dropbtn:hover, .dropbtn:focus {
    	background-color: #F15F5B;
	}

	.dropdown {
	    position: relative;
	    display: inline-block;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	/*links inside the dropdown*/
	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	}

	/*changes color of link in dropdown on hover*/
	.dropdown-content a:hover {
		background-color: #F15F5B;
	}


	/* =Search Box Options
	----------------------------------------------- */
	#searchCheckBoxList {
		list-style-type: none;
	}

	.locationTypeOptions {
		display: inline;
		padding-left: 20px;
	}

	/*
	a {
		text-decoration: none;
	}
	*/


	/* =Search Navigation
	----------------------------------------------- */
	@media (min-width: 40em) {
		nav.search {
			text-align: center;
		}
	}
	nav.search h1 {
		/* @hidden-accessible */
		position: absolute;
		left: -9999px;
	}
	nav.search a:not([href]) {
		opacity: 0.5;
		background-color: #ccc;
	}
	nav.search ul,
	nav.search li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}
	nav.search ul {
		margin-top: 0;
	}
	nav.search li {
		display: inline;
	}


	/* =Footer
	----------------------------------------------- */
	footer {
		background-color: rgb(144, 194, 70); /* @lime */
		color: white;
		margin-top: 5em;
		margin-left: -1.5em;
		margin-right: -1.5em;
		margin-bottom: -1.5em;
		padding: 1.5em 1.5em 4.5em;
		position: relative;
	}

	.canteloupe footer {
		background-color: rgb(249, 192, 88); /* @canteloupe */
	}
	.lime footer {
		background-color: rgb(144, 194, 70); /* @lime */
	}
	.strawberry footer {
		background-color: rgb(241, 95, 91); /* @strawberry */
	}
	.blueberry footer {
		background-color: rgb(77, 85, 148); /* @blueberry */
	}

	.canteloupe footer .link-list::before,
	.canteloupe footer .link-list::after,
	.canteloupe footer::before,
	.canteloupe footer::after {
		background-image: url(/assets/images/palm-tree-canteloupe.svg);
	}
	.strawberry footer .link-list::before,
	.strawberry footer .link-list::after,
	.strawberry footer::before,
	.strawberry footer::after {
		background-image: url(/assets/images/palm-tree-strawberry.svg);
	}
	.blueberry footer .link-list::before,
	.blueberry footer .link-list::after,
	.blueberry footer::before,
	.blueberry footer::after {
		background-image: url(/assets/images/palm-tree-blueberry.svg);
	}
	.banana footer .link-list::before,
	.banana footer .link-list::after,
	.banana footer::before,
	.banana footer::after {
		background-image: url(/assets/images/palm-tree-banana.svg);
	}

	footer .link-list::before,
	footer .link-list::after,
	footer::before,
	footer::after {
		content: "";
		background-image: url(/assets/images/palm-tree.svg);
		display: block;
		position: absolute;
		width: 4.5em;
		height: 4.5em;
		margin-top: -4.5em;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		top: 0.25em;
		left: 50%;
		margin-left: -5em;
		opacity: 0.75;
	}
	footer::after {
		margin-left: 0;
		width: 4.25em;
		height: 4.25em;
		margin-top: -4.25em;
		opacity: 0.7;
	}
	footer .link-list::before {
		margin-left: -8.5em;
		width: 5em;
		height: 5em;
		margin-top: -5em;
		opacity: 1;
	}
	footer .link-list::after {
		margin-left: 2.5em;
		width: 4.75em;
		height: 4.75em;
		margin-top: -4.75em;
		opacity: 1;
	}
	@media (min-width: 30em) {
		footer {
			margin-left: -3em;
			margin-right: -3em;
			margin-bottom: -3em;
			padding: 1.5em 3em 6em;
		}
	}
	footer section,
	footer .link-list {
		max-width: 40em;
		margin-left: auto;
		margin-right: auto;
	}
	footer a {
		color: inherit;
	}
	footer .link-list a {
		padding-left: 2.25em;
	}
	footer .link-list a .icon {
		position: absolute;
		margin-left: -2em;
	}
	footer section h2:first-child {
		margin-top: 0;
		margin-bottom: 0;
	}
	footer section h2 + p {
		margin-top: 0;
	}
	footer section p:last-child {
		margin-bottom: 0;
	}
	footer section h2,
	footer section h3 {
		color: rgb(229, 152, 48);
		color: rgb(206, 149, 56);
		color: rgba(0, 0, 0, 0.333);
		color: inherit;
	}
	footer section a {
		color: inherit;
		text-decoration: underline;
		display: inline-block; /* @avoid-break */
	}


	/* =Navigation
	----------------------------------------------- */
	nav p {
		margin: 0;
	}


	/* =Button
	----------------------------------------------- */
	button,
	nav a {
		display: inline-block;
		background: rgb(243, 117, 104); /* @salmon */
		background: rgb(209, 43, 43); /* @apple */
		background: rgb(249, 192, 88); /* @canteloupe */
		background: rgb(144, 194, 70); /* @lime */
		background: rgb(77, 85, 148); /* @blueberry */
		background: rgb(241, 95, 91); /* @strawberry */
		color: black;
		color: rgba(0, 0, 0, 0.8);
		color: white;
		padding: 0.375em 1.5em;
		border-radius: 0.25em;
		font-family: "Reem Kufi", "Helvetica Neue", Helvetica, sans-serif;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-color: transparent;
		text-decoration: none;
		transition: background-color 0.2s;
	}
	button:hover,
	button:active,
	button:focus,
	nav a:hover,
	nav a:active,
	nav a:focus {
		background: rgb(221, 75, 71); /* @strawberry */
		text-decoration: none;
	}
	button {
		cursor: pointer;
		font-size: inherit;
	}
	body.find button {
		text-transform: uppercase;
	}
	label span {
		display: block;
		font-family: "Reem Kufi", "Helvetica Neue", Helvetica, sans-serif;
		font-size: 1.25em;
		margin-bottom: 0.375em;
	}
	label br {
		display: none;
	}


	/* =Field
	----------------------------------------------- */
	input[type="text"] {
		line-height: inherit;
		font-family: inherit;
		font-size: inherit;
		padding: 0.375em 0.75em;
		border-radius: 0.25em;
		border: 1px solid black;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-color: rgb(249, 192, 88); /* @canteloupe */
		border-color: rgb(144, 194, 70); /* @lime */
		border-color: rgb(77, 85, 148); /* @blueberry */
		border-color: rgba(77, 85, 148, 0.5); /* @blueberry */
		border-color: rgb(241, 95, 91); /* @strawberry */
		border-color: rgba(241, 95, 91, 0.5); /* @strawberry */
		border-color: rgba(0, 0, 0, 0.25);
		width: 20em;
		max-width: 100%;
		box-sizing: border-box;
	}
	@media (max-width: 35em) {
		input[type="text"],
		button {
			width: 100%;
		}
		button {
			margin-top: 0.375em;
		}
	}


	/* =Main
	----------------------------------------------- */
	main {
		padding-bottom: 3em;
		max-width: 40em;
		margin-left: auto;
		margin-right: auto;
	}
	.page-contents {
		padding-bottom: 1.5em;
	}
	section {
		margin-top: 3em;
	}


	/* =Map
	----------------------------------------------- */
	.mapbox {
		height: 600px;
		margin-left: -1.5rem; /* @page-margin */
		margin-right: -1.5rem;
	}

	@media (min-width: 30em) {
		.mapbox {
			margin-left: -3rem; /* @page-margin-widescreen */
			margin-right: -3rem;
		}
	}


	/* =Map Point Popup
	----------------------------------------------- */
	.map-point-details {
		max-width: 80vw;
		font-size: 1rem;
		line-height: 1.5;
		padding: 0.75em;
	}
	.map-point-details p {
		margin-top: 0.75em;
		margin-bottom: 0.75em;
	}
	.map-point-details h3 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.25em;
		line-height: 1.2;
	}
	.map-point-details h3 + p {
		margin-top: 0;
	}
	.map-point-details .type {
		font-style: italic;
		opacity: 0.5;
	}
	.map-point-details h4 {
		margin-top: 0;
		margin-bottom: 0;
		font-family: inherit;
		font-weight: bold;
		line-height: 1.5;
	}
	.map-point-details .hours {
		margin-top: 0;
		max-width: 15em;
		line-height: 1.5;
	}
	.map-point-details p:last-child {
		margin-bottom: 0;
	}


	/* =You are here
	----------------------------------------------- */
	@keyframes sonar {
		0% {
			transform: scale(1);
			opacity: 1;
		}
		50% {
			transform: scale(1);
			opacity: 1;
		}
		100% {
			transform: scale(3);
			opacity: 0;
		}
	}

	@keyframes shrink {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(0.875);
		}
		100% {
			transform: scale(1);
		}
	}


	.you-are-here::before {
		content: "";
		display: block;
		border-radius: 50%;
		background-color: rgb(0, 128, 255);
		opacity: 0.5;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;

		animation: sonar 3s infinite ease-out;
	}
	.you-are-here::after {
		content: "";
		display: block;
		border-radius: 50%;
		position: absolute;
		top: -20%;
		left: -20%;
		z-index: -1;
		width: 140%;
		height: 140%;
		background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 40%, transparent 60%, transparent 100%);
		background-size: contain;
	}

	.you-are-here {
		position: relative;
		font-size: 1rem;
		margin-top: -1.25em;
		margin-right: -1.25em;
		background: white;
		padding: 0.2em;
		border-radius: 50%;
		display: inline-block;
	}
	.you-are-here span {
		display: block;
		width: 1.05em;
		height: 1.05em;
		background-color: rgb(0, 128, 255);
		border-radius: 50%;
		animation: shrink 3s 1.5s infinite both;

		/* @hidden-accessible-text */
		text-indent: -9999px;
		overflow: hidden;
	}


	/* =Marker
	----------------------------------------------- */
	.marker {
		position: relative;
		font-size: 1rem;
		line-height: 1.5;
	}
	.marker img {
		position: absolute;
		bottom: 0;
		left: -1em;
		width: 2em;
		max-width: none;
		height: 2em;
		margin-left: 0;
		margin-right: 0;
	}
	.marker .label {
		margin: 0;
		position: absolute;
		top: 0.25em;
		width: 15em;
		left: 50%;
		text-align: center;
		margin-left: -7.5em;
		padding: 0.375em;
		background: white;
		background: rgba(255, 255, 255, 0.5);
		font-family: "Reem Kufi", "Helvetica Neue", Helvetica, sans-serif;
	}
	@media (min-width: 30em) {
		.marker {
			font-size: 1.5rem;
		}
	}


	/* =Map Page
	----------------------------------------------- */
	body.map {
		padding-bottom: 0;
	}
	body.map .mapbox {
		height: 500px;
		height: 100vh;
		height: calc(100vh - 5.75rem); /* header height */
		height: calc(100vh - 8.5rem); /* header height */
	}
	@media (min-width: 30em) {
		body.map .mapbox {
			height: calc(100vh - 9.125rem); /* header height */
		}
	}


	/* =Find
	----------------------------------------------- */
	/*
	body.find main h1 {
		margin-top: 0;
	}
	body.find form {
		display: flex;
		align-items: center;
		min-height: 50vh;
		min-height: calc(100vh - 15rem);
	}
	*/
	body.find .categories h2 {
		/* @hidden-accessible */
		position: absolute;
		left: -9999px;
	}


	/* =Food Source
	----------------------------------------------- */
	.food-source h1 {
		margin-bottom: 0;
	}
	.food-source h1 span {
		display: inline-block; /* @avoid-break */
	}
	.food-source h1 + p {
		margin-bottom: 1.5em;
	}
	.food-source .page-contents h2 {
		font-size: inherit;
		margin-top: 1.5em;
		display: block;
		margin-bottom: 0.5em;
	}
	.food-source h2 + p {
		margin-top: 0;
	}

	.food-source .mapbox {
		height: 150px;
		height: 50vh;
		margin-bottom: -1.5em;
	}
	@media (min-width: 30em) {
		.food-source .mapbox {
			margin-bottom: -3em;
		}
	}

	/* OPTIONAL: Position the map on the right side, on really big screens. */
	@media (min-width: 70em) {
		.food-source .mapbox {
			width: 50%;
			margin: 0;
			position: absolute;
			top: 5.75rem;
			top: 0;
			right: 0;
			height: 500px;
			height: calc(100vh - 5.75rem); /* header height */
			height: 100vh;
		}
		.food-source h1,
		.food-source .page-contents {
			width: 45%;
		}
	}

