---
layout: null
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title> Map, Food Oasis Los Angeles </title>
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi|Open+Sans" />
	<link rel="stylesheet" href="/assets/css/oasis.css" />

	<!-- For Mapbox -->
	<link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.22.0/mapbox-gl.css" />

	<script>
	// http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript#answer-901144	
	function getParameterByName(name, url) {
		if (!url) url = window.location.href;
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, " "));
	}

	function persistTypeParameter(type) {
		if (!type) type = getParameterByName('type');

		var address = getParameterByName('address');
		var searchLink = document.querySelector('.search a[href]');
		var href = '/list';

		if (type) {
			var form = document.querySelector('form.find');
			var typeField = form.querySelector('input[name="type"]');
			if (!typeField) {
				typeField = document.createElement('input');
				typeField.type = 'hidden';
				typeField.name = 'type';
				form.appendChild(typeField);
			}
			typeField.value = type;

			var typeArray = type.split('|');

			// SHIM: Only persist the type if there’s only one, since the list page only supports one type at a time (or all types at once).
			if (typeArray.length === 1) {
				href = '/' + typeArray[0];
			}
		}
		if (address) {
			href += '?address=' + address;

			var addressField = document.querySelector('input[name="address"]');
			addressField.value = address;
		}
		searchLink.setAttribute('href', href);
	}
	</script>
</head>
<body class="map">

	{% include header.html %}
	{% include link-to-find-food.html %}

	<form class="find" action="/map" method="get">
		<p>
			<label>
				<span>Enter your location</span><br />
				<input type="text" name="address" placeholder="Address, Neighborhood, or Zip" autocomplete="off" autocorrect="off" />
			</label>
			<button type="submit">
				<!--
				Search icon
				by Veronika Krpciarova
				https://thenounproject.com/v.krpciarova/collection/search/?oq=search&cidx=1&i=353178
				-->
				<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="20" height="20">
					<switch>
						<path fill="#FFFFFF" d=" M 83.7 77.7 Q 83.6751953125 77.5302734375 83.55 77.4 L 62.65 54.95 Q 67.4498046875 48.480859375 67.45 40 67.44765625 29.3423828125 59.85 21.75 52.3580078125 14.252734375 41.7 14.25 31.0427734375 14.2533203125 23.45 21.75 15.9533203125 29.3427734375 15.95 40 15.952734375 50.6580078125 23.45 58.15 31.0423828125 65.74765625 41.7 65.75 48.7376953125 65.747265625 54.45 62.45 L 76.15 85.5 Q 76.26796875 85.6412109375 76.4 85.7 76.5693359375 85.7599609375 76.7 85.75 81.1939453125 85.53125 82.9 83.5 84.7708984375 81.51328125 83.7 77.7 M 51.75 29.9 Q 55.9521484375 34.107421875 55.95 40 55.9521484375 45.8923828125 51.75 50.05 47.5923828125 54.2521484375 41.7 54.25 35.807421875 54.2521484375 31.6 50.05 27.44765625 45.8923828125 27.45 40 27.44765625 34.107421875 31.6 29.9 35.807421875 25.74765625 41.7 25.75 47.5923828125 25.74765625 51.75 29.9 Z"></path>
						<foreignobject>Go</foreignobject>
					</switch>
				</svg>
			</button>
		</p>
	</form>

	<nav class="search">
		<h1>Map of food near you</h1>
		<ul>
			<li class="map"><a>Map</a></li>
			<li class="list"><a href="/list">List</a></li>
		</ul>
	</nav>
	<script>
	persistTypeParameter();
	</script>

	<nav class="map-filters"></nav>

	<div id="map" class="mapbox"></div>

	<!-- For map.js -->
	<script type="text/template" id="you-are-here-template">
		<div class="you-are-here"><span>You are here</span></div>
	</script>
	<script type="text/template" id="marker-template">
	<div class="marker">
		<img src="/assets/images/markers/purple.svg" alt="" />
	</div>
	</script>

	<script type="text/template" id="popup-template">
	<div class="map-point-details">
		<h3><a href=""></a></h3>
		<p class="type"></p>
		<p class="address"></p>
		<p class="phone"></p>
		<h4>Hours</h4>
		<p class="hours"></p>
		<a class="flag" href="mailto:contact@foodoasis.la">Flag this Business!</a>
	</div>
	</script>

	<!-- Jim’s Google Maps API key -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4"></script>

	<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js"></script>
	<script>

	var MAP_START_POSITION = [-118.243683, 34.052235];

	var MAP_BOUNDS = [
		[-119.9442369,32.7089729], // Southwest coordinates
		[-116.63282912,35.8275538]  // Northeast coordinates
	];

	var MAP_LAYERS = [
		//
		// 09/24: Need updated Food Pantry dataset from Kiki!
		// {
		// 	name: 'food-bank',
		// 	label: 'Food Bank',
		// 	sourceLayer: 'Food_Banks_-_Andrew',
		// 	sourceURL: 'mapbox://fooddesertsla.c1nwj97w',
		// 	color: 'rgba(249, 192, 88, 0.75)' /* @banana */
		// },
		{
			name: 'community-garden',
			label: 'Community Garden',
			sourceLayer: 'Community-Gardens_09-22-0ruhbz',
			sourceURL: 'mapbox://foodoasisla.43efueeq',
			//color: 'rgba(241, 95, 91, 0.75)' /* @strawberry */
			color: 'rgba(144, 194, 70, 0.75)' /* @lime */
		},
		{
			name: 'farmers-market',
			label: 'Farmers Market',
			sourceLayer: 'Farmers-Markets_08-17-3rvtq4',
			sourceURL: 'mapbox://foodoasisla.7cdn2m99',
			//color: 'rgba(77, 85, 148, 0.75)' /* @blueberry */
			// color: 'rgba(241, 95, 91, 0.75)' /* @strawberry */
			// color: 'rgba(161, 167, 72, 0.75)' /* @asparagus */
			color: 'rgba(211, 16, 134, 0.75)' /* @dragonfruit */

		},
		{
			name: 'grocery-store',
			label: 'Grocery Store',
			sourceLayer: 'Grocery_09-22-4xppp0',
			sourceURL: 'mapbox://foodoasisla.2uksfosw',
			//color: 'rgba(144, 194, 70, 0.75)' /* @lime */
			//color: 'rgba(241, 95, 91, 0.75)' /* @strawberry */
			color: 'rgba(40, 137, 187, 0.75)' /* @blueberry */
		},
		{
			name: 'grocery-misc',
			label: 'Store',
			sourceLayer: 'Grocery-Misc_09-22-8gdiuf',
			sourceURL: 'mapbox://foodoasisla.59rckfih',
			//color: 'rgba(144, 194, 70, 0.75)' /* @lime */
			//color: 'rgba(241, 95, 91, 0.75)' /* @strawberry */
			color: 'rgba(40, 137, 187, 0.75)' /* @blueberry */
		},
		{
			name: 'supermarket',
			label: 'Supermarket',
			sourceLayer: 'Supermarkets_09-22-brcxgy',
			sourceURL: 'mapbox://foodoasisla.99s1i9kf',
			//color: 'rgba(161, 167, 72, 0.75)' /* @asparagus */
			//color: 'rgba(241, 95, 91, 0.75)' /* @strawberry */
			color: 'rgba(77, 85, 148, 0.75)' /* @blueberry */
		}
	];

	function getLayerLabel(name) {
		for (var index = 0; index < MAP_LAYERS.length; index++) {
			if (MAP_LAYERS[index].name === name) {
				return MAP_LAYERS[index].label;
			}
		}
	}

	function geocodeAddress(address, callback) {
		var geocoder = new google.maps.Geocoder();

		geocoder.geocode({'address': address}, function(results, status) {
			if (status === google.maps.GeocoderStatus.OK) {

				var longitude = results[0].geometry.location.lng();
				var latitude  = results[0].geometry.location.lat();

				callback([longitude, latitude]);

			} else {
				console.error('Geocode was not successful for the following reason: ' + status);
			}
		});
	}

	function findUserLocation() {
		var address = getParameterByName('address');

		if (address) {

			// Add Los Angeles to the address
			if (address.indexOf('Los Angeles') < 0) {
				address += ' Los Angeles';
			}

			geocodeAddress(address, moveMapToPosition);

		// Grab user's location on page-load
		} else if ("geolocation" in navigator) {
			navigator.geolocation.getCurrentPosition(function(position) {

				// Set new starting location
				var myCoords = [position.coords.longitude, position.coords.latitude];
				moveMapToPosition(myCoords, true);
				//console.log('current coords', myCoords);

			}, function() {
				console.error("Unable to retrieve your location");
			});
		}
	}

	function moveMapToPosition(position, geolocated) {
		 map.setZoom(14); // TBD: Should we adjust this based on screen size? (Can we zoom until at least one store is visible?)
		 map.panTo(position);

		if (geolocated) {
			addYouAreHere(position);
		} else {
			addMarker(position);
		}
	}

	function addMarker(position) {
		var template = document.getElementById('marker-template');
		if (template) {
			var marker = document.createElement('div');
			marker.innerHTML = template.innerHTML;

			var address = getParameterByName('address');

			new mapboxgl.Marker(marker)
				.setLngLat(position)
				.addTo(map);
		}
	}

	function addYouAreHere(position) {
		var template = document.getElementById('you-are-here-template');
		if (template) {
			var marker = document.createElement('div');
			marker.innerHTML = template.innerHTML;

			new mapboxgl.Marker(marker)
				.setLngLat(position)
				.addTo(map);
		}
	}

	var popup;
	function showPopup(event) {
		var layerNames = [];
		for (var i = 0; i < MAP_LAYERS.length; i++) {
			layerNames.push(MAP_LAYERS[i].name);
			layerNames.push(MAP_LAYERS[i].name + '-near');
			layerNames.push(MAP_LAYERS[i].name + '-far');
		}
		var features = map.queryRenderedFeatures(event.point, { 
			layers: layerNames
		});

		if (!popup) {
			popup = new mapboxgl.Popup({
				closeButton: false,
				closeOnClick: false
			});
		}

		// Change the cursor style as a UI indicator.
		map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';
		if (!features.length) {
			popup.remove();
			return;
		}

		var feature = features[0];

		var element = createPopupElement(feature);

		popup.setLngLat(feature.geometry.coordinates).setDOMContent(element).addTo(map);
	}

	function createPopupElement(feature) {

		var template = document.getElementById('popup-template');
		if (template) {
			var element = document.createElement('div');
			element.innerHTML = template.innerHTML;

			var data = getFeatureData(feature);

			// TEMPORARY: Hide links to grocery stores (since we don’t have food source pages for those).
			var showLink = true; //data.type != 'Grocery Store';

			// Name
			var nameElement = element.querySelector('h3');
			if (showLink) {
				var link = nameElement.querySelector('a');
				link.setAttribute('href', data.uri);
				link.innerText = data.name;
			} else {
				nameElement.innerText = data.name;
			}

			// Type
			var typeElement = element.querySelector('.type');
			typeElement.innerText = data.type;

			// Address
			if (data.address) element.querySelector('.address').innerHTML = data.address;

			// Phone
			var phoneElement = element.querySelector('.phone');
			if (data.phone) phoneElement.innerText = data.phone;
			else {
				var phoneElement = element.querySelector('.phone');
				phoneElement.parentNode.removeChild(phoneElement)
			}

			// Hours
			var hoursElement = element.querySelector('.hours');
			if (data.hours) {
				hoursElement.innerHTML = data.hours;
			} else {
				var h4 = element.querySelector('h4');
				h4.parentNode.removeChild(h4);

				hoursElement.parentNode.removeChild(hoursElement);
			}

			// Flag
			// URL: https://form.jotform.com/62638504761156?businessName=[name]&address=[address]&category=[category]&longitude=[lon]&latitude=[lat]

			var flagElement = element.querySelector('.flag');
			flagElement.setAttribute("href","https://form.jotform.com/62638504761156?businessName="+data.name+"&address="+data.address+"&category="+data.type+"&longitude="+01+"&latitude="+02)

			return element;
		}
	}

	// This is duplicated in _plugins/food_source_generator.rb
	function stringToURI(str) {
		return String(str).toLowerCase()
			.replace(/\s/g, '-')
			.replace(/\//g, '-')
			.replace(/\&/g, '-')
			.replace(/\./g, '-')
			.replace(/\,/g, "-")
			.replace(/\+/g, "-")
			.replace(/\r\n?/, '-')
			.replace(/\'/g, '')
			.replace(/\(/g, '')
			.replace(/\)/g, '')
			.replace(/\-\-\-\-/g, '-')
			.replace(/\-\-\-/g, '-')
			.replace(/\-\-/g, '-')
	}

	function getFeatureData(feature) {

		var data = {
			name:   feature.properties["name"] || 
					feature.properties["Name"] ||
					feature.properties["NAME"] ||
					feature.properties["NAME:"] ||
					feature.properties["MarketName"] ||
					feature.properties["GardenName"],
			type:   getLayerLabel(feature.layer.id.replace('-near', '').replace('-far', '')),
			hours:  feature.properties["hours"] ||
					feature.properties["times"] ||
					feature.properties["Times"] ||
					feature.properties["TIMES"] ||
					feature.properties["TIMES:"],
			phone:  feature.properties["phone"] ||
					feature.properties["telephone"] ||
					feature.properties["Telephone"] ||
					feature.properties["CONTACT"] ||
					feature.properties["CONTACT:"],
			latitude: 
					feature.properties["latitude"] ||
					feature.properties["Latitude"],
			longitude:
					feature.properties["longitude"] ||
					feature.properties["Longitude"],
			address: getFeatureAddress(feature)
		};

		// This is duplicated in _plugins/food_source_generator.rb
		data.uri = '/' + 
					data.type.toLowerCase().replace(/\s/g, '-')
					+ '/' + 
					stringToURI(data.name)
					+ '/' + 
					data.latitude
					+ '/' + 
					data.longitude;

		return data;
	}

	function getFeatureAddress(feature) {
		var address = "";

		var street = 
					feature.properties["address"] ||
					feature.properties["Address"] ||
					feature.properties["ADDRESS"] ||
					feature.properties["ADDRESS:"] ||
					feature.properties["StreetAddress"];
		var city = 
					feature.properties["city"] ||
					feature.properties["City"];
		var state = 
					feature.properties["state"] ||
					feature.properties["State"];

		if (street) 
				address += street;
		if (city)
				address += (street ? ', ' : '') + city;
		if (city && state)
				address += (city ? ', ' : (street ? ', ' : '')) + state;

		return address;
	}

	mapboxgl.accessToken = 'pk.eyJ1IjoiZm9vZG9hc2lzbGEiLCJhIjoiY2l0ZjdudnN4MDhpYzJvbXlpb3IyOHg2OSJ9.POBdqXF5EIsGwfEzCm8Y3Q';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v9',
		zoom: 13, // starting zoom
		center: MAP_START_POSITION, // starting position
		maxBounds: MAP_BOUNDS
	});

	var nav = new mapboxgl.Navigation({position: 'bottom-left'}); // position is optional
	map.addControl(nav);

	// Add 'Current Location' Functionality
	map.addControl(new mapboxgl.Geolocate());

	map.on('click', showPopup); 

	function addLayer(data, markerSize, minzoom, maxzoom) {
		var name = data.name + (!minzoom ? '-far' : (!maxzoom ? '-near' : ''));
		//console.log('id: ' + name);
		map.addSource(name, {
			type: 'vector',
			url: data.sourceURL
		});
		var layerData = {
			'id': name,
			'type': 'circle',
			'source': name,
			'layout': {
				'visibility': 'visible'
			},
			'paint': {
				'circle-radius': markerSize,
				'circle-color': data.color
			},
			'source-layer': data.sourceLayer
		};
		if (minzoom) layerData.minzoom = minzoom;
		if (maxzoom) layerData.maxzoom = maxzoom;
		map.addLayer(layerData);
	}

	map.on('load', function () {
		for (var index = 0; index < MAP_LAYERS.length; index++) {
			addLayer(MAP_LAYERS[index], 9, 14, null); // Zoomed in
			addLayer(MAP_LAYERS[index], 6, 12, 14);
			addLayer(MAP_LAYERS[index], 3, null, 12); // Zoomed out
		}

		findUserLocation();

		var layers = document.querySelector('.map-filters');
		function createButton(data) {

			var button = document.createElement('button');
			button.type = "button";
			button.className = data.name;
			button.setAttribute('data-type', data.name);
			button.textContent = data.label + 's'; // SHIM: Pluralize

			button.addEventListener('click', function(e) {
				e.preventDefault();

				var visibility = map.getLayoutProperty(data.name, 'visibility');

				if (visibility === 'visible') {
					map.setLayoutProperty(data.name, 'visibility', 'none');
					map.setLayoutProperty(data.name + '-near', 'visibility', 'none');
					map.setLayoutProperty(data.name + '-far', 'visibility', 'none');
					this.className += ' inactive';
				} else {
					map.setLayoutProperty(data.name, 'visibility', 'visible');
					map.setLayoutProperty(data.name + '-near', 'visibility', 'visible');
					map.setLayoutProperty(data.name + '-far', 'visibility', 'visible');
					this.className = this.className.replace(/inactive/g, '');
				}

				// SHIM: Make the filter stick
				var type = [];
				var activeButtons = document.querySelectorAll('.map-filters button:not(.inactive)');
				for (var index = 0; index < activeButtons.length; index++) {
					type.push(activeButtons[index].getAttribute('data-type'));
				}
				persistTypeParameter(type.join('|'));
			}, false);

			// If a type was requested and this button doesn’t match, toggle it off
			var type = getParameterByName('type');
			if (type) {
				type = type.split('|');
				var found = false;
				for (var index = 0; index < type.length; index++) {
					if (type[index] === data.name) found = true;
				}
				if (!found) button.click();
			}

			layers.appendChild(button);
		}

		for (var i = 0; i < MAP_LAYERS.length; i++) {
			createButton(MAP_LAYERS[i]);
		}

		// Draw food desert census tracts
		map.addSource('Food Deserts', {
			type: 'vector',
			url: 'mapbox://foodoasisla.d040onrj'
		});
		map.addLayer({
			'id': 'Food Deserts',
			'type': 'fill',
			'source': 'Food Deserts',
			'layout': {
				'visibility': 'visible'
			},
			'paint': {
				'fill-color': '#FF0000',
				'fill-opacity': 0.1
			},
			'filter': ["==", "LI LA De_4", "1"],
			'source-layer': 'USDA_Food_Desert_Tracts_2010-65gavx'
		});
	});

	</script>

</body>
</html>

