---
layout: null
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Map of food near you in Los Angeles</title>
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi|Open+Sans" />
	<link rel="stylesheet" href="/assets/css/oasis.css" />

	<!-- For Mapbox -->
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css" />
	<link rel="stylesheet" href="/assets/leaflet/leaflet.css" />
	
	<!-- For Google Analytics -->
	<script>	  
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-83011478-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body class="map">

	{% include header.html %}
	{% include link-to-find-food.html %}

	<nav class="search">
		<h1>Map of food near you</h1>
		<ul>
			<li class="map"><a>Map</a></li>
			<li class="list"><a href="/list">List</a></li>
		</ul>
	</nav>
	<script>
	(function() {
		// SHIM: Make the address persistent
		var searchLink = document.querySelector('.search a[href]');
		searchLink.setAttribute('href', searchLink.getAttribute('href') + window.location.search);
	})();
	</script>

	<div id="menu"></div>
	<div id="map" class="mapbox"></div>

	<!-- Jim’s Google Maps API key -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4"></script>

    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js"></script>
	<script src="/assets/leaflet/leaflet.js"></script>

	<!-- For map.js -->
	<script type="text/template" id="you-are-here-template">
		<div class="you-are-here"><span>You are here</span></div>
	</script>

	<script type="text/template" id="popup-template">
	<div class="map-point-details">
		<h3><a href=""></a></h3>
		<p class="type"></p>
		<p class="address"></p>
		<p class="phone"></p>
		<h4>Hours</h4>
		<p class="hours"></p>
	</div>
	</script>

	<script>
		var MAP_BOUNDS = [
			[-119.9442369,32.7089729], // Southwest coordinates
			[-116.63282912,35.8275538]  // Northeast coordinates
		];
		var MAP_START_POSITION = [-118.243683, 34.052235];

	//	var MAPBOX_STYLESHEET = 'mapbox://styles/fooddesertsla/ciqlgjsvb0001bkno0wkx8gg8', // stylesheet location
		var MAP_STYLESHEET = 'mapbox://styles/fooddesertsla/cirso6vli0009gam85y4z56xz'; // stylesheet location (version with Halina’s icons)

		mapboxgl.accessToken = 'pk.eyJ1IjoiZm9vZGRlc2VydHNsYSIsImEiOiJjaXByOXRscnMwNzY1Zm5ub3YwYTd5Z3dsIn0.DWgUhgW32pVkybKx7cWWiw';
	</script>
	<script src="/assets/js/map.js"></script>	
</body>
</html>
