---
layout: null
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Map, Food Oasis Los Angeles</title>
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi|Open+Sans" />
	<link rel="stylesheet" href="/assets/css/oasis.css" />

	<!-- For Mapbox -->
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />

	<link rel="stylesheet" href="/assets/css/map-listings.css" />

</head>
<body>
	{% include header.html %}
	{% include link-to-find-food.html %}

	<div class='sidebar'>
		<div class='heading' style="position: absolute; left: -9999px">
			<h1>All Locations</h1>
		</div>

		<div id='listings' class='listings'></div>
	</div>

	<nav class="map-filters">
		<ul>
			<li><button class="food-bank" onclick="foodBankFilter()" id="fb-filter">Food Banks</button></li>
			<li><button class="community-garden" onclick="communityGardenFilter()" id="cg-filter">Community Gardens</button></li>
			<li><button class="farmers-market" onclick="farmersMarketFilter()" id="fm-filter">Farmers’ Markets</button></li>
			<li><button class="farmers-market" onclick="supermarketFilter()" id="fm-filter">Supermarkets</button></li>
		</ul>
	</nav>

	<!--<ul class="filters">
		<button onclick="foodBankFilter()"><li id="fb-filter"><a href="?type=food-banks">Food Banks</a></li></button>
		<li id="cg-filter"><a href="?type=community-gardens">Community Gardens</a></li>
		<li id="fm-filter"><a href="?type=farmers-markets">Farmers’ Markets</a></li>
	</ul>-->

	<div id='map' class='map'></div>

		<script type="text/template" id="you-are-here-template">
			<div class="you-are-here"><span>You are here</span></div>
		</script>

	<script type="text/template" id="popup-template">
	<div class="map-point-details">
		<h3><a href=""></a></h3>
		<p class="type"></p>
		<p class="address"></p>
		<p class="phone"></p>
		<h4>Hours</h4>
		<p class="hours"></p>
	</div>
	</script>


	<!-- Jim’s Google Maps API key -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4"></script>
	
	<script src="functionalities/mapFunctionalities.js"></script>
	<script src="functionalities/getUserLocation.js"></script>
	<script src="functionalities/filtering.js"></script>
	<script src="functionalities/locationList.js"></script>
	<script src="functionalities/storesData.js"></script>
	<script src="../json/community-gardens-json.js"></script>

	<script>
		console.log("checking that changes worked");
		// This will let you use the .remove() function later on
		if (!('remove' in Element.prototype)) {
			Element.prototype.remove = function() {
				if (this.parentNode) {
					this.parentNode.removeChild(this);
				}
			};
		}

		mapboxgl.accessToken = 'pk.eyJ1IjoiZm9vZG9hc2lzbGEiLCJhIjoiY2l0ZjdudnN4MDhpYzJvbXlpb3IyOHg2OSJ9.POBdqXF5EIsGwfEzCm8Y3Q';
		// This adds the map to your page
		var map = new mapboxgl.Map({
		  container: 'map',
		  style: 'mapbox://styles/mapbox/light-v9',
		  center: [-118.243683, 34.052235],
		  zoom: 14
		});

		// Add 'Current Location' functionality
		map.addControl(new mapboxgl.Geolocate());
		
		// Add map navigational functionality
		map.addControl(new mapboxgl.Navigation({position: 'bottom-left'}));

		function flyToStore(currentFeature) {
			map.flyTo({
				center: currentFeature.geometry.coordinates,
				zoom: 15
			});
		}

		var popup;

		function showPopup(feature) {

			if (!popup) {
				popup = new mapboxgl.Popup({
					closeButton: false,
					closeOnClick: false
				});
			}

			var element = createPopupElement(feature);

			popup.setLngLat(feature.geometry.coordinates).setDOMContent(element).addTo(map);
		}

		function createPopupElement(feature) {

			var template = document.getElementById('popup-template');
			if (template) {
				var element = document.createElement('div');
				element.innerHTML = template.innerHTML;

				var data = getFeatureData(feature);

				// Container
				var container = element.querySelector('.map-point-details');
				container.className += ' ' + feature.properties.type; 

				// Name
				var nameElement = element.querySelector('h3');
				var link = nameElement.querySelector('a');
				link.setAttribute('href', data.uri);
				link.innerText = data.name;

				// Type
				var typeElement = element.querySelector('.type');
				typeElement.innerText = data.formattedType;
				// typeElement.className += ' ' + type;

				// Address
				if (data.address) element.querySelector('.address').innerHTML = data.formattedAddress;

				// Phone
				var phoneElement = element.querySelector('.phone');
				if (data.phone) phoneElement.innerText = data.phone;
				else {
					var phoneElement = element.querySelector('.phone');
					phoneElement.parentNode.removeChild(phoneElement)
				}

				// Hours
				var hoursElement = element.querySelector('.hours');
				if (data.hours) {
					hoursElement.innerHTML = data.hours;
				} else {
					var h4 = element.querySelector('h4');
					h4.parentNode.removeChild(h4);

					hoursElement.parentNode.removeChild(hoursElement);
				}

				return element;
			}
		}

		function getFeatureData(feature) {
			var data = feature.properties;
			data.formattedAddress = getFormattedAddress(feature);
			data.formattedType = getFormattedType(feature);

			data.uri = '/' + data.type.toLowerCase().replace(/\s/g, '-') + '/' + data.name.toLowerCase()
						.replace(/\s/g, '-')
						.replace(/\//g, '-')
						.replace(/\&/g, '-')
						.replace(/\./g, '-')
						.replace(/\'/g, '')
						.replace(/\-\-/g, '-');

			return data;
		}

		// KUDOS: http://alvinalexander.com/javascript/how-to-capitalize-each-word-javascript-string
		function capitalizeEachWord(str) {
			return str.replace(/\w\S*/g, function(txt) {
				return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
			});
		}

		function getFormattedType(feature) {
			return capitalizeEachWord(feature.properties.type.replace('-', ' '));
		}

		function getFormattedAddress(feature) {
			var address = "";

			var street = feature.properties["address"];
			var city   = feature.properties["city"];
			var state  = feature.properties["state"];

			if (street)        address += street;
			if (city)          address += (street ? ', ' : '') + city;
			if (city && state) address += (city ? ', ' : (street ? ', ' : '')) + state;

			return address;
		}

		map.on('load', function (e) {
			// Add the stores data as a source
			map.addSource("places", {
				"type": "geojson",
				"data": stores
			});

			buildLocationList(locations);

		});

		stores.features.forEach(function(marker) {
			// Create a div element for the marker
			var el = document.createElement('div');
			// Add a class called 'marker' to each div
			if(marker.properties.type === "food-bank") {
				el.className = 'food-bank-marker'
			} else if (marker.properties.type === "farmers-market") {
				el.className = 'farmers-market-marker'
			} else if (marker.properties.type === "community-garden") {
				el.className = 'community-garden-marker'
			} else if (marker.properties.type === "supermarket") {
				el.className = 'supermarket-marker'
			}

			// By default the image for your custom marker will be anchored
			// by its top left corner. Adjust the position accordingly
			el.style.left='-21px';  // Marker width / 2
			el.style.top='-56px'; // Marker height

			// Create the custom markers, set their position, and add to map
			new mapboxgl.Marker(el)
				.setLngLat(marker.geometry.coordinates)
				.addTo(map);

			el.addEventListener('click', function(e) {
				var activeItem = document.getElementsByClassName('active-listing-item');

				// 1. Fly to the point
				// flyToStore(marker);
				// 2. Close all other popups and display popup for clicked store
				showPopup(marker);
				// 3. Highlight listing in sidebar (and remove highlight for all other listings)
				//e.stopPropagation();

				if (activeItem[0]) {
					activeItem[0].classList.remove('active-listing-item');
				}

				//var listing = document.getElementById('listing-' + i);
	
				//listing.classList.add('active-listing-item');
			});
		});

		findUserLocation();
		console.dir("checking for community gardens " + communityGardensLocations);

	</script>

</body>
</html>
