<!doctype html>
{% include locale.html %}
<html lang="{{ locale }}" dir="ltr">
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{% if page.title %}{{ page.title | escape }}{% elsif layout.title %}{{ layout.title | escape }}{% elsif page.name %}{{ page.name | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

	{% if page.description %}
	<meta name="description" content="{{ page.description | escape }}" />
	{% endif %}

	{% if page.canonical_url %}
	<link rel="canonical" href="https://foodoasis.la{{ page.canonical_url }}" />
	{% endif %}

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi|Open+Sans:400,400i,600" />
	{% comment %}
	* Open Sans - Regular
	* Open Sans - Italic
	* Reem Kufi - Regular

	You can choose more faces here:
	https://fonts.google.com/selection?selection.family=Reem+Kufi|Open+Sans:400,400i,600
	{% endcomment %}

	{% if page.stylesheets %}
		{% assign stylesheets = page.stylesheets %}
	{% elsif layout.stylesheets %}
		{% assign stylesheets = layout.stylesheets %}
	{% endif %}
	{% for url in stylesheets %}
	<link rel="stylesheet" href="{{ url }}" />
	{% endfor %}

	<link rel="stylesheet" href="/assets/css/oasis.css" />

	{% if page.redirect %}
	<meta http-equiv="refresh" content="0; url={{ page.redirect }}" />
	{% endif %}

	<!-- for general use -->
	<link rel="icon" type="image/png"    href="/assets/images/favicon.png" />

	<!-- for iOS -->
	<link rel="apple-touch-icon"         href="/assets/images/favicon-rgb-240-240-240.png" />
	<meta name="apple-mobile-web-app-title" content="Food Oasis LA">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />

	<!-- for Windows 8 -->
	<meta name="msapplication-TileImage" content="/assets/images/favicon.png" />
	<meta name="msapplication-TileColor" content="rgb(240, 240, 240)" />

	<!-- Google Tag Manager -->
	{% include google-tag-mgr-head.html %}
</head>
<body{% if page.color or layout.color or page.classname or layout.classname %} class="{{ page.color }} {{ layout.color }} {{ page.classname }} {{ layout.classname }}"{% endif %}>

	<!-- Google Tag Manager -->
	{% include google-tag-mgr-body.html %}

	{% if page.include_footer == false or layout.include_footer == false %}
		{% assign include_footer = false %}
	{% endif %}

	{% if page.include_header == false or layout.include_header == false %}
		{% assign include_header = false %}
	{% endif %}

	{% unless include_header == false %}
		{% include header.html %}
	{% endunless %}

	{% if page.include_map == true or layout.include_map == true %}
	<div class="map-container" id="map" ></div>

	<div class="location-summary-container" id="map-location-summary" ></div>
	{% endif %}

	<main>
		{{ content }}
	</main>

	{% unless include_footer == false %}
		{% include footer.html %}
	{% endunless %}

	{% include analytics.html %}

</body>
</html>
