<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

	<link rel="canonical" href="https://foodoasis.la{{ page.url }}" />
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi|Open+Sans:400,400i" />
	<!--
	* Open Sans - Regular
	* Open Sans - Italic
	* Reem Kufi - Regular

	You can choose more faces here:
	https://fonts.google.com/selection?selection.family=Open+Sans:400,400i|Reem+Kufi
	-->

	<link rel="stylesheet" href="/assets/css/oasis.css" />
</head>
<body{% if page.color %} class="{{ page.color }}"{% endif %}>
	{% include header.html %}

	{% assign has_navigation=true %}
	{% include link-to-nav.html %}

	<main>
        {{ content }}
	</main>

	{% include footer.html %}
</body>
</html>
