---
layout: null
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ page.title | escape }}, Food Oasis Los Angeles</title>

	<link rel="canonical" href="https://foodoasis.la{{ page.url }}" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi|Open+Sans:400,400i" />
	<!--
	* Open Sans - Regular
	* Open Sans - Italic
	* Reem Kufi - Regular

	You can choose more faces here:
	https://fonts.google.com/selection?selection.family=Open+Sans:400,400i|Reem+Kufi
	-->

	<link rel="stylesheet" href="/assets/css/oasis.css" />

	<!-- For Mapbox -->
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css" />
	<link rel="stylesheet" href="/assets/leaflet/leaflet.css" />
</head>
<body class="food-source">

	{% include header.html %}
	{% include link-to-nav.html %}

	<h1>{{ page.name_html }}</h1>

	<p>
		<a href="/{{ page.food_source['type_uri'] }}" title="List of {{ page.food_source['type'] }}s in Los Angeles">{{ page.food_source['type'] }}</a>
		{% if page.food_source['type_uri'] == 'grocery-store' %}
			&nbsp;
			<small class="slow-page-note">
				<!-- 
					Wildlife Observation
					By Eric Milet, ES
					https://thenounproject.com/search/?q=turtle&i=79204
				-->
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.2 31.7" width="35" height="16">
					<path fill="rgb(153, 153, 153)" d="M0.4,4.1C2,0.1,8-1.2,13.7,1.2c2.4,1,4.4,2.5,5.8,4.2C24,2.1,30.9,0,38.7,0C51,0,61.2,5.2,63.1,12.1
						c0.5,0.1,0.9,0.2,1.4,0.3c3.1,1,5.2,3.3,4.6,5.1c-0.6,1.8-3.6,2.5-6.7,1.5c-0.1,0-0.2-0.1-0.3-0.1c-0.4,0.8-1,1.5-1.6,2.2
						c0.2,0.4,0.4,0.9,0.6,1.4c1.5,3.9,0.5,7.9-2.2,8.9c-2.6,1-5.8-1.2-7.3-4.8c-3.7,1.3-8.1,2.1-12.8,2.1s-9.1-0.8-12.8-2.1
						c-1.5,3.6-4.8,5.8-7.3,4.8c-2.7-1-3.7-5-2.2-8.9c0.2-0.5,0.4-0.9,0.6-1.4c-1.3-1.4-2.2-2.9-2.6-4.6c-2,0.1-4.3-0.2-6.5-1.1
						C2.1,13.1-1.2,8,0.4,4.1z M4.2,4.6c0,1.1,0.9,2,2,2s2-0.9,2-2c0-1.1-0.9-2-2-2S4.2,3.5,4.2,4.6z"></path>
				</svg>
				This page may take a long time to load.
			</small>
		{% endif %}
	</p>

	<div class="page-contents">

		<h2>
			<img class="icon" src="/assets/images/icons/address.svg" width="30" alt="Address" /> Address
		</h2>
		<p>
			<a title="Get Directions on Google Maps" href="http://maps.google.com/maps/place/{{ page.food_source['address'] | escape }} {{ page.food_source['city'] | escape }} {{ page.food_source['state'] | escape }} {{ page.food_source['zip'] | escape }}">
				{{ page.food_source['address'] | escape }}
				{% if page.food_source['city'] %}
					<br />
					{{ page.food_source['city'] | escape }}, {{ page.food_source['state'] | escape }} {{ page.food_source['zip'] | escape }}
				{% endif %}
			</a>
		</p>

		{% if page.food_source['phone'] %}
		<h2>
			<img class="icon" src="/assets/images/icons/phone.svg" width="30" alt="Phone" /> Phone
		</h2>
		<p>{{ page.food_source['phone'] | escape }}</p>
		{% endif %}

		{% if page.food_source['hours'] %}
		<h2>
			<img class="icon" src="/assets/images/icons/hours.svg" width="30" alt="" /> Hours
		</h2>
		<p>{{ page.food_source['hours'] | escape }}</p>
		{% endif %}
		<!--
		<dl>
			<dt>Monday</dt>
			<dd>11:00 am - 7:00 pm</dd>
			<dd>Open Now!</dd>

			<dt>Tuesday</dt>
			<dd>11:00 am - 7:00 pm</dd>

			<dt>Wednesday</dt>
			<dd>11:00 am - 7:00 pm</dd>

			<dt>Thursday</dt>
			<dd>11:00 am - 7:00 pm</dd>

			<dt>Friday</dt>
			<dd>11:00 am - 7:00 pm</dd>

			<dt>Saturday</dt>
			<dd>11:00 am - 7:00 pm</dd>
			
			<dt>Sunday</dt>
			<dd>11:00 am - 7:00 pm</dd>
		</dl>
		-->
	</div>
	
	<div id="map" class="mapbox"></div>
	
	<script src="https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js"></script>
	<script src="/assets/leaflet/leaflet.js"></script>

	<!-- For food-source.js -->
	<script>
	var FOOD_SOURCE = {
		latitude: {{ page.food_source['latitude'] }},
		longitude: {{ page.food_source['longitude'] }},
	} 
	</script>
	<script type="text/template" id="marker-template">
	<div class="marker">
		<img src="/assets/images/markers/green.svg" alt="" />
		<p class="label">{{ page.food_source['name'] | escape }}</p>
	</div>
	</script>

	<script src="/assets/js/food-source.js"></script>
</body>
</html>
