---
layout: default
include_footer: false
classname: food-source

stylesheets:
  - "https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.css"
---

<h1>{{ page.name }}</h1>

<p><a href="/{{ page['category'] | downcase | replace: ' ', '-' }}">{{ page['category'] }}</a></p>

<div class="page-contents">

	<h2>
		<img class="icon" src="/assets/images/icons/address.svg" width="30" alt="" />
		Address
	</h2>
	<p>
		<a title="Get Directions on Google Maps" href="http://maps.google.com/maps/place/{{ page['address_1'] | escape }} {% if page['address_2'] and page['address_2'] != '' %} {{ page['address_2'] | escape }} {% endif %} {{ page['city'] | escape }} {{ page['state'] | escape }} {{ page['zipcode'] | escape }}">
			{{ page['address_1'] | escape }}
			{% if page['address_2'] and page['address_2'] != '' %}
				<br />
				{{ page['address_2'] | escape }}
			{% endif %}
			<br />
			{{ page['city'] | escape }}, {{ page['state'] | escape }} {{ page['zipcode'] | escape }}
		</a>
	</p>

	{% if page['phone'] and page['phone'] != '' %}
	<h2>
		<img class="icon" src="/assets/images/icons/phone.svg" width="30" alt="" />
		Phone
	</h2>
	<p>{{ page['phone'] | escape }}</p>
	{% endif %}

	{% if page['website'] and page['website'] != '' %}
	<h2>
		<img class="icon" src="/assets/images/icons/website.svg" width="30" alt="" />
		Website
	</h2>
	<p><a href="{{ page['website'] | escape }}">{{ page['website'] | escape }}</a></p>
	{% endif %}

	{% if page['hours'] %}
	<h2>
		<img class="icon" src="/assets/images/icons/hours.svg" width="30" alt="" />
		Hours
	</h2>
	<p>{{ page['hours'] | escape }}</p>
	{% endif %}

	{% comment %}
	<dl>
		<dt>Monday</dt>
		<dd>11:00 am - 7:00 pm</dd>
		<dd>Open Now!</dd>

		<dt>Tuesday</dt>
		<dd>11:00 am - 7:00 pm</dd>

		<dt>Wednesday</dt>
		<dd>11:00 am - 7:00 pm</dd>

		<dt>Thursday</dt>
		<dd>11:00 am - 7:00 pm</dd>

		<dt>Friday</dt>
		<dd>11:00 am - 7:00 pm</dd>

		<dt>Saturday</dt>
		<dd>11:00 am - 7:00 pm</dd>

		<dt>Sunday</dt>
		<dd>11:00 am - 7:00 pm</dd>
	</dl>
	{% endcomment %}
</div>

<div id="map" class="mapbox"></div>

<script src="https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js"></script>

<!-- For food-source.js -->
<script type="text/template" id="marker-template">
	<div class="marker">
		<img src="/assets/images/markers/green.svg" alt="" />
		<p class="label">{{ page['name'] | escape }}</p>
	</div>
</script>

<script>
	var FOOD_SOURCE = {
		latitude: {{ page['latitude'] }},
		longitude: {{ page['longitude'] }},
	}
</script>

<script src="/assets/js/food-source.js"></script>
