---
layout: null
---
<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ page.title | escape }}, Food Oasis Los Angeles</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi|Open+Sans" />
	<link rel="stylesheet" href="/assets/css/oasis.css" />

	<!-- For Mapbox -->
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css" />
	<link rel="stylesheet" href="/assets/leaflet/leaflet.css" />
</head>
<body class="food-source">

	{% include header.html %}
	{% include find-food-link.html %}

	<h1>{{ page.name_html }}</h1>

	<p>
		<a href="/source" title="List of Food Banks in Los Angeles">Food Bank</a>
	</p>
	
	<div class="page-contents">

		<p>
			<span class="title"><img class="icon" src="../../assets/images/icons/address.svg" width="30" alt="Address" /> <span>Address</span></span><br />
			<a title="Get Directions on Google Maps" href="http://maps.google.com/maps/place/{{ page.food_source['address'] | escape }}">{{ page.food_source['address'] | escape }}</a>
		</p>

		<p>
			<span class="title"><img class="icon" src="../../assets/images/icons/phone.svg" width="30" alt="Phone" /> <span>Phone</span></span><br />
			{{ page.food_source['phone'] | escape }}
		</p>
		<!--
		<p>
			<span class="title"><img class="icon" src="../../assets/images/icons/website.svg" width="30" alt="Website" /> <span>Website</span></span><br />
			<a href="http://www.yelp.com/biz/montrose-candy-co-la-crescenta-montrose">
				PLACEHOLDER: {{ page.food_source['name'] }} on Yelp
			</a>
		</p>
		-->

		<p>
			<span class="title"><img class="icon" src="../../assets/images/icons/hours.svg" width="30" alt="" /> <span>Hours</span></span><br />
			
		</p>

		<p>{{ page.food_source['hours'] | escape }}</p>
		<!--
		<dl>
			<dt>Monday</dt>
			<dd>11:00 am - 7:00 pm</dd>
			<dd>Open Now!</dd>

			<dt>Tuesday</dt>
			<dd>11:00 am - 7:00 pm</dd>

			<dt>Wednesday</dt>
			<dd>11:00 am - 7:00 pm</dd>

			<dt>Thursday</dt>
			<dd>11:00 am - 7:00 pm</dd>

			<dt>Friday</dt>
			<dd>11:00 am - 7:00 pm</dd>

			<dt>Saturday</dt>
			<dd>11:00 am - 7:00 pm</dd>
			
			<dt>Sunday</dt>
			<dd>11:00 am - 7:00 pm</dd>
		</dl>
		-->
	</div>
	
	<div id="map" class="mapbox"></div>
	
	<script src="https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js"></script>
	<script src="/assets/leaflet/leaflet.js"></script>

	<!-- For food-source.js -->
	<script>
	var FOOD_SOURCE = {
		latitude: {{ page.food_source['latitude'] }},
		longitude: {{ page.food_source['longitude'] }},
	} 
	</script>
	<script type="text/template" id="marker-template">
	<div class="marker">
		<img src="/assets/images/markers/green.svg" alt="" />
		<p class="label">{{ page.food_source['name'] | escape }}</p>
	</div>
	</script>

	<script src="/assets/js/food-source.js"></script>
</body>
</html>
