---
layout: default
include_footer: false
classname: food-source

stylesheets:
  - "https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.css"
---

<h1>{{ page.name_html }}</h1>

<p><a href="/{{ page.food_source['type_uri'] }}" title="List of {{ page.food_source['type'] }}s in Los Angeles">{{ page.food_source['type'] }}</a></p>

<div class="page-contents">

	<h2>
		<img class="icon" src="/assets/images/icons/address.svg" width="30" alt="" />
		Address
	</h2>
	<p>
		<a title="Get Directions on Google Maps" href="http://maps.google.com/maps/place/{{ page.food_source['address'] | escape }} {{ page.food_source['city'] | escape }} {{ page.food_source['state'] | escape }} {{ page.food_source['zip'] | escape }}">
			{{ page.food_source['address'] | escape }}
			{% if page.food_source['city'] %}
				<br />
				{{ page.food_source['city'] | escape }}, {{ page.food_source['state'] | escape }} {{ page.food_source['zip'] | escape }}
			{% endif %}
		</a>
	</p>

	{% if page.food_source['phone'] %}
	<h2>
		<img class="icon" src="/assets/images/icons/phone.svg" width="30" alt="" />
		Phone
	</h2>
	<p>{{ page.food_source['phone'] | escape }}</p>
	{% endif %}

	{% if page.food_source['hours'] %}
	<h2>
		<img class="icon" src="/assets/images/icons/hours.svg" width="30" alt="" />
		Hours
	</h2>
	<p>{{ page.food_source['hours'] | escape }}</p>
	{% endif %}

	{% comment %}
	<dl>
		<dt>Monday</dt>
		<dd>11:00 am - 7:00 pm</dd>
		<dd>Open Now!</dd>

		<dt>Tuesday</dt>
		<dd>11:00 am - 7:00 pm</dd>

		<dt>Wednesday</dt>
		<dd>11:00 am - 7:00 pm</dd>

		<dt>Thursday</dt>
		<dd>11:00 am - 7:00 pm</dd>

		<dt>Friday</dt>
		<dd>11:00 am - 7:00 pm</dd>

		<dt>Saturday</dt>
		<dd>11:00 am - 7:00 pm</dd>

		<dt>Sunday</dt>
		<dd>11:00 am - 7:00 pm</dd>
	</dl>
	{% endcomment %}
</div>

<div id="map" class="mapbox"></div>

<script src="https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js"></script>

<!-- For food-source.js -->
<script type="text/template" id="marker-template">
	<div class="marker">
		<img src="/assets/images/markers/green.svg" alt="" />
		<p class="label">{{ page.food_source['name'] | escape }}</p>
	</div>
</script>

<script>
	var FOOD_SOURCE = {
		latitude: {{ page.food_source['latitude'] }},
		longitude: {{ page.food_source['longitude'] }},
	}
</script>

<script src="/assets/js/food-source.js"></script>
