---
layout: default
classname: home
---

<form action="/locations/" method="get">

	<div>
		<h1>{{ page.headline }}</h1>
		<p>
			<label>
				<span style="position: absolute; left: -9999px;">{{ page.address_field_label }}</span><br />
				<input placeholder="Los Angeles" type="text" name="address" autocomplete="off" autocorrect="off" />
			</label>
			<button type="submit" style="display: inline-block; vertical-align: middle;"><img src="/assets/images/icons/search.svg" width="50" alt="Go" style="height: 1.5em; width: auto; display: block;" /></button>
		</p>
	</div>

	<p class="photo-credit" id="gemma-billings" style="display: none;">Photo by <a href="https://www.flickr.com/photos/gemmamei/6060629012/">Gemma Billings</a></p>
	<p class="photo-credit" id="daily-organics" style="display: none;">Produce by <a href="https://dailyorganicsla.com">Daily Organics</a></p>
</form>

<script>
(function() {
	var form = document.querySelector('form');
	form.addEventListener('click', function(e) {
		window.location = '/search/';
		e.preventDefault();
	}, false);
})();
</script>

<div class="categories">
	<section>
		<h2>{{ page.categories.free.headline }}</h2>
		<ul class="food-pantry link-list has-icons">
			<li>
				<a href="/food-pantry">
					<img class="icon" src="/assets/images/home/food-pantry.svg" alt="" />
					<span>{{ page.categories.free.link_label }}</span>
				</a>
			</li>
		</ul>
	</section>
	<section>
		<h2>{{ page.categories.grow.headline }}</h2>
		<ul class="community-garden link-list has-icons">
			<li>
				<a href="/community-garden">
					<img class="icon" src="/assets/images/home/community-garden.svg" alt="" />
					<span>{{ page.categories.grow.link_label }}</span>
				</a>
			</li>
		</ul>
	</section>
	<section>
		<h2>{{ page.categories.purchase.headline }}</h2>
		<ul class="farmers-market link-list has-icons">
			<li>
				<a href="/farmers-market">
					<img class="icon" src="/assets/images/home/farmers-market.svg" alt="" />
					<span>{{ page.categories.purchase.link_label }}</span>
				</a>
			</li>
		</ul>
	</section>
</div><!-- /.categories -->

<script>
(function() {
	var images = [
		'/assets/images/photos/daily-organics-apples.jpg',
		'/assets/images/photos/daily-organics-apples-2.jpg',
		'/assets/images/photos/daily-organics-carrots.jpg',
		'/assets/images/photos/daily-organics-pears.jpg',
		'/assets/images/photos/daily-organics-squash.jpg',
		'/assets/images/photos/6060629012_d9dc1f7642_o.jpg'
	];
	var min = 0;
	var max = images.length - 1;
	var random = Math.floor(Math.random() * (max - min + 1) + min);
	var form = document.querySelector('form');
	form.style.backgroundImage = 'url(' + images[random] + ')';
	if (images[random] === '/assets/images/photos/6060629012_d9dc1f7642_o.jpg') {
		document.querySelector('.photo-credit#gemma-billings').style.display = 'block';
	} else {
		document.querySelector('.photo-credit#daily-organics').style.display = 'block';
	}
})();
</script>
