---
layout: default
classname: "map map-list"

stylesheets:
  - "https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css"

categories:
    free:
        headline: Free food
        link_label: Food Pantries
    grow:
        headline: Grow food
        link_label: Community Gardens
    purchase:
        headline: Food for sale
        link_label: Farmers’ Markets
---

<!--
<ul class="link-list has-icons">
	<li>
		<a href="/food-pantry">
			<img class="icon" src="/assets/images/home/food-pantry.svg" alt="" />
			<span>Food Pantries</span>
		</a>
	</li>
	<li>
		<a href="/community-garden">
			<img class="icon" src="/assets/images/home/community-garden.svg" alt="" />
			<span>Community Gardens</span>
		</a>
	</li>
	<li>
		<a href="/farmers-market">
			<img class="icon" src="/assets/images/home/farmers-market.svg" alt="" />
			<span>Farmers’ Markets</span>
		</a>
	</li>
</ul>
-->

<div id="map" class="mapbox"></div>

<script type="text/template" id="larger-map-template">
	<p class="larger-map"><button>Larger Map</button></p>
</script>

{% assign form_action = page.first %}

<h1 style="color: inherit;">{{ page.category }} <span id="location">near <em>Los Angeles</em></span></h1>

<p><a href="#search">Search for something else</a></p>

<div style="padding-top: 1.5em; border-bottom: 1px solid rgba(0, 0, 0, 0.1);"></div>

<!--
<div id="map-not-supported-message" class="message" style="display: none; position: absolute; bottom: 0; left: 0; width: 100%; z-index: 1; padding: 1.5em; text-align: center; background: white; z-index: 9999; box-sizing: border-box;">
	<h1 style="margin-top: 0;">Uh oh!</h1>
	<p style="max-width: none;">Our map isn’t working in this web browser. You may want to try viewing the <a href="/locations/">list of locations</a> instead.</p>
	<p style="max-width: none;" class="action"><a href="/locations/">Show me the list</a></p>
</div>
-->

<!-- For map.js -->
<script type="text/template" id="you-are-here-template">
	<div class="you-are-here"><span>You are here</span></div>
</script>

<!--
<script type="text/template" id="marker-template">
	<div class="marker">
		<img src="/assets/images/markers/purple.svg" alt="" />
	</div>
</script>
-->

<script type="text/template" id="popup-template">
	<div class="map-point-details">
		<h3><a href=""></a></h3>
		<p class="type"></p>
		<p class="address"></p>
		<p class="phone"></p>
		<h4>Hours</h4>
		<p class="hours"></p>
		<p class="distance"><span></span> miles away</p>
	</div>
</script>

<script type="text/template" id="list-item-template">
	<a href="">
		<h2></h2>
		<p class="type"></p>
		<p class="address"></p>
		<h3>Hours</h3>
		<p class="hours"></p>
		<p class="distance"><span></span> miles away</p>
	</a>
</script>

<ul class="food-source-list">
{% if page.collection %}

	{% assign data_collection = site.collections | where: "label", page.collection | first %}
	{% assign data_list = data_collection.docs %}
	{% assign list_limit = page.items_per_page %}
	{% assign list_offset = page.list_offset %}
	{% include list.html %}

{% else %}

	{% assign data_list = site.data['generated-locations-for-jekyll'] %}

	{% assign list_limit = page.items_per_page %}
	{% assign list_offset = page.list_offset %}
	{% include list.html %}

{% endif %}
</ul>

<div style="padding-top: 0em; border-top: 1px solid rgba(0, 0, 0, 0.1);"></div>

{% if page.next or page.previous %}
<nav class="pagination" style="text-align: center;">
	<ul>
		{% if page.next %}
		<li><a href="{{ page.next }}">More Locations</a></li>
		{% endif %}
{% comment %}
		{% if page.previous %}
		<li><a href="{{ page.previous }}">Previous Page</a></li>
		{% endif %}
{% endcomment %}
	</ul>
</nav>
<script>
(function() {

	// http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript#answer-901144	
	function getParameterByName(name, url) {
		if (!url) url = window.location.href;
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, " "));
	}

	// SHIM: Make the address persistent
	var paginationLink = document.querySelector('.pagination a[href]');
	var address = getParameterByName('address');
	if (address) {
		var href = paginationLink.getAttribute('href');
		href += '?address=' + address;
		paginationLink.setAttribute('href', href);
	}
})();
</script>
{% endif %}

<div style="text-align: center;">

<div style="padding-top: 1.5em;"></div>

<h1 id="search">Find {{ page.category | downcase }} <span class="avoid-break">near you</span></h1>
{% include search-form.html %}

<div class="categories">
<ul>
	<li><a href="/food-pantry/">Food Pantries</a></li>
	<li><a href="/community-garden/">Community Gardens</a></li>
	<li><a href="/farmers-market/">Farmers’ Markets</a></li>
	<li><a href="/locations/">Everything</a></li>
</ul>
</div>


</div>

<div style="margin-top: 9em"></div>

{% comment %}
<div class="categories" style="margin-top: 4.5em;">
	<section>
		<h2>{{ layout.categories.free.headline }}</h2>
		<ul class="food-pantry link-list has-icons">
			<li>
				<a href="/food-pantry">
					<img class="icon" src="/assets/images/home/food-pantry.svg" alt="" />
					<span>{{ layout.categories.free.link_label }}</span>
				</a>
			</li>
		</ul>
	</section>
	<section>
		<h2>{{ layout.categories.grow.headline }}</h2>
		<ul class="community-garden link-list has-icons">
			<li>
				<a href="/community-garden">
					<img class="icon" src="/assets/images/home/community-garden.svg" alt="" />
					<span>{{ layout.categories.grow.link_label }}</span>
				</a>
			</li>
		</ul>
	</section>
	<section>
		<h2>{{ layout.categories.purchase.headline }}</h2>
		<ul class="farmers-market link-list has-icons">
			<li>
				<a href="/farmers-market">
					<img class="icon" src="/assets/images/home/farmers-market.svg" alt="" />
					<span>{{ layout.categories.purchase.link_label }}</span>
				</a>
			</li>
		</ul>
	</section>
</div><!-- /.categories -->
{% endcomment %}

<script>
(function() {
	// http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript#answer-901144	
	function getParameterByName(name, url) {
		if (!url) url = window.location.href;
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, " "));
	}

	// SHIM: Make the address persistent
	var address = getParameterByName('address');
	if (address) {
		var links = document.querySelectorAll('.categories a[href]');
		for (var index = 0; index < links.length; index++) {
			links[index].setAttribute('href', links[index].getAttribute('href') + '?address=' + address);
		}
	}
})();
</script>

<!-- Jim’s Google Maps API key -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4"></script>

<script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>

<script>
var MAP_ACCESS_TOKEN = 'pk.eyJ1IjoiZm9vZG9hc2lzbGEiLCJhIjoiY2l0ZjdudnN4MDhpYzJvbXlpb3IyOHg2OSJ9.POBdqXF5EIsGwfEzCm8Y3Q';
</script>

<script>
var itemsPerPage = {{ page.items_per_page }};
var listOffset = {{ page.list_offset }};
</script>

{% if page.collection %}
<script src="/api/{{ page.collection }}.js"></script>
{% else %}
<script src="/api/locations.js"></script>
{% endif %}

<script src="/assets/js/map.js"></script>
