---
layout: null
include_footer: false
classname: location-details

stylesheets:
  - "https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.css"
---

<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" />
	<title>{{ page.title | escape }}</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi|Open+Sans:400,400i,600" />
	{% comment %}
	* Open Sans - Regular
	* Open Sans - Italic
	* Reem Kufi - Regular

	You can choose more faces here:
	https://fonts.google.com/selection?selection.family=Reem+Kufi|Open+Sans:400,400i,600
	{% endcomment %}
	<link href="/assets/css/beta.css" rel="stylesheet" />

	<link rel="canonical" href="https://foodoasis.la{{ page.url }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="location-details">

<header>

	<h2><a href="/"><img src="/assets/images/fola.svg" alt="Food Oasis Los Angeles" /></a></h2>
	<p class="tagline">Healthy Food for All Angelenos</p>

	<p class="nav-link"><a href="/#navigation"><img src="/assets/images/icons/menu.svg" alt="Menu" width="50" /></a></p>

</header>

<nav>
	<p class="back"><a href="/locations/" id="back-link"><img src="/assets/images/icons/back.svg" /> <span>Find more locations</span></a></p>
</nav>

<div id="map" class="map-container"></div>

<main>

	<div class="header {{ page['category'] | downcase | replace: ' ', '-' }}">
		<div class="location-summary">

		<img src="/assets/images/home/{{ page['category'] | downcase | replace: ' ', '-' }}.svg" width="100" alt="" />

		<h1>{{ page.name }}</h1>

		<p class="address">
			{{ page['address_1'] | escape }}
			{% if page['address_2'] and page['address_2'] != '' %}
				<br />
				{{ page['address_2'] | escape }}
			{% endif %}
			<br />
			{{ page['city'] | escape }}, {{ page['state'] | escape }} {{ page['zipcode'] | escape }}
		</p>
		<p class="type"><a href="/{{ page['category'] | downcase | replace: ' ', '-' }}">{{ page['category'] }}</a></p>

		<script type="text/template" class="open-template" data-day="{{ data['day'] }}" data-open="{{ data['open'] }}" data-close="{{ data['close'] }}">
			<p class="open">Open Now</p>
		</script>
		<script type="text/template" class="distance-template" data-latitude="{{ data['latitude'] }}" data-longitude="{{ data['longitude'] }}">
			<p class="distance"><span></span> miles away</p>
		</script>

		</div>
	</div>

	<ul class="options action">
		<li><a href="#shareable-link">Share</a></li>
		<li><a title="Get Directions on Google Maps" href="http://maps.google.com/maps/place/{{ page['address_1'] | escape }} {% if page['address_2'] and page['address_2'] != '' %} {{ page['address_2'] | escape }} {% endif %} {{ page['city'] | escape }} {{ page['state'] | escape }} {{ page['zipcode'] | escape }}">Directions</a></li>
	</ul>

	<div id="shareable-link">
		<h2>Share</h2>
		<p class="copy-paste">
			<label>
				<span>Here’s a link you can copy and paste:</span>
				<input type="text" onclick="this.setSelectionRange(0, this.value.length)" value="https://foodoasis.la{{ page.url }}" readonly="readonly" />
			</label>
		</p>
	</div>
	<script>
	(function() {
		// Hide the details until the link is pressed
		var link = document.querySelector('a[href="#shareable-link"]');
		var details = document.getElementById('shareable-link');
		if (link && details) {
			details.style.display = 'none';
			link.addEventListener('click', function(e) {
				details.style.display = 'block';
				e.preventDefault();
				link.classList.add('disabled');
			}, false);
		}
	})();
	</script>

{% comment %}
<!--
	<p class="copy-paste">
		<label>
			<span>Here’s an address you can copy and paste:</span>
			<textarea onclick="this.setSelectionRange(0, this.value.length)" readonly="readonly">
}
{{ page['address_1'] | escape }}{% if page['address_2'] and page['address_2'] != '' %},
{{ page['address_2'] | escape }}{% endif %},
{{ page['city'] | escape }}, {{ page['state'] | escape }} {{ page['zipcode'] | escape }}
			</textarea>
		</label>
	</p>
-->
{% endcomment %}

	<hr />

	<h2>Hours</h2>
	{% if page['formatted_day'] %}
	{% assign days = "Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday" | split: ", " %}
	<dl>
	{% for day in days %}
		<dt data-day="{{ page['day'] }}">{{ day }}</dt>
		{% if page['formatted_day'] == day %}
		<dd data-day="{{ page['day'] }}" data-open="{{ page['open'] }}" data-close="{{ page['close'] }}"><span>{{ page['formatted_open'] }} – {{ page['formatted_close'] }}</span></dd>
		{% else %}
		<dd><i>Closed</i></dd>
		{% endif %}
	{% endfor %}
	</dl>
	{% else %}
	<del>
	<mark>Coming soon!</mark>
	<dl>
		<dt>Sunday</dt>
		<dd><span>8am – 5pm</span></dd>

		<dt>Monday</dt>
		<dd><span>8am – 5pm</psan></dd>

		<dt class="open">Tuesday</dt>
		<dd class="open"><span>8am – 11am</span> <i>Open Now</i></dd>

		<dt>Wednesday</dt>
		<dd><i>Closed</i></dd>

		<dt>Thursday</dt>
		<dd><span>12pm – 6pm</span></dd>

		<dt>Friday</dt>
		<dd><span>12pm – 6pm</span></dd>

		<dt>Saturday</dt>
		<dd><span>1pm – 7pm</span></dd>
	</dl>
	</del>
	{% endif %}

	<hr />

	<h2 style="position: absolute; left: -9999px; /* @hidden-accessible */">Information</h2>
	<dl>
		<dt>Web</dt>
		<dd>{% if page['website'] and page['website'] != '' %}<a href="{{ page['website'] | escape }}">{{ page['website'] | escape }}</a>{% else %}<i>unknown</i>{% endif %}</dd>

		<dt>Phone</dt>
		<dd>{% if page['phone'] and page['phone'] != '' %}{{ page['phone'] | escape }}{% else %}<i>unknown</i>{% endif %}</dd>

		<dt>Facebook</dt>
		<dd>{% if page['facebook'] and page['facebook'] != '' %}{{ page['facebook'] | escape }}{% else %}<i>unknown</i>{% endif %}</dd>

		<dt>Twitter</dt>
		<dd>{% if page['twitter'] and page['twitter'] != '' %}{{ page['twitter'] | escape }}{% else %}<i>unknown</i>{% endif %}</dd>
	</dl>

{% comment %}
	{% if page['website'] != '' or page['phone'] != '' %}
	<h2 style="position: absolute; left: -9999px; /* @hidden-accessible */">Information</h2>
	<dl>
		{% if page['website'] != '' %}
		<dt>Web</dt>
		<dd><a href="{{ page['website'] | escape }}">{{ page['website'] | escape }}</a></dd>
		{% endif %}

		{% if page['phone'] != '' %}
		<dt>Phone</dt>
		<dd>{{ page['phone'] | escape }}</dd>
		{% endif %}
	</dl>
	{% endif %}
{% endcomment %}

	<hr />

	<h2 style="position: absolute; left: -9999px; /* @hidden-accessible */">Options</h2>

	<ul class="options action secondary" style="margin-top: 3em;">
		<li><a href="mailto:contact@foodoasis.la?subject=Claim Business, {{ page.name }}, Food Oasis LA&body=https://foodoasis.la{{ page.url }}">Claim Business</a></li>
		<li><a href="https://form.jotform.com/62638504761156?businessName={{ page.name }}&amp;address={{ page.address_1 }}&amp;category={{ page.category }}&amp;longitude={{ page.longitude }}&amp;latitude={{ page.latitude }}">Report Issue</a></li>
	</ul>

</main>

<script src="https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js"></script>

<!-- For location-details.js -->
<script type="text/template" id="marker-template">
	<div class="marker">
		{% if page['category'] == 'Farmers Market' %}
		<img src="/assets/images/map/pin-red-large.svg" alt="" />
		{% elsif page['category'] == 'Food Pantry' %}
		<img src="/assets/images/map/pin-yellow-large.svg" alt="" />
		{% else %}
		<img src="/assets/images/map/pin-green-large.svg" alt="" />
		{% endif %}
	</div>
</script>

<script>
	var FOOD_SOURCE = {
		latitude: {{ page['latitude'] }},
		longitude: {{ page['longitude'] }},
		day: "{{ page['day'] }}",
		open: "{{ page['open'] }}",
		close: "{{ page['close'] }}"
	}
</script>

<!-- Jim’s Google Maps API key -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4"></script>

<script src="/assets/js/location-details.js"></script>

</body>
</html>
