---
layout: default

include_map: true
include_back: true

stylesheets:
  - "https://api.tiles.mapbox.com/mapbox-gl-js/v0.33.1/mapbox-gl.css"
---
<header class="location-summary">

	<img src="/assets/images/home/{{ page['category'] | downcase | replace: ' ', '-' }}.svg" width="100" alt="" />

	<h1>{{ page.name }}</h1>

	<p class="address">
		{{ page['address_1'] | escape }}
		{% if page['address_2'] and page['address_2'] != '' %}
			<br />
			{{ page['address_2'] | escape }}
		{% endif %}

		{% if page['city'] != '' %}			
		<br />
		{{ page['city'] | escape }}, {{ page['state'] | escape }} {{ page['zipcode'] | escape }}
		{% endif %}
	</p>
	<p class="type"><a href="/{{ page['category'] | downcase | replace: ' ', '-' }}">{{ page['category'] }}</a></p>

	<script type="text/template" class="open-template" data-day="{{ data['day'] }}" data-open="{{ data['open'] }}" data-close="{{ data['close'] }}">
		<p class="open">Open Now</p>
	</script>
	<script type="text/template" class="distance-template" data-latitude="{{ data['latitude'] }}" data-longitude="{{ data['longitude'] }}">
		<p class="distance"><span></span> <abbr title="miles">m</abbr></p>
	</script>

</header>

{% include location-details-options.html %}

{% if page['formatted_daycode1'] %}
<section class="hours">
	<h2>Hours</h2>
	{% assign days = "Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday" | split: ", " %}
	<dl>
	{% assign i = 0 %}
	{% for day in days %}
		{% assign i = i | plus:1 %}
		{% assign daycodei = 'daycode' | append: i %}
		{% assign formatted_daycodei = 'formatted_daycode' | append: i %}
		{% assign dayi_open = 'day' | append: i | append: '_open' %}
		{% assign dayi_close = 'day' | append: i | append: '_close' %}
		{% assign formatted_dayi_open = 'formatted_day' | append: i | append: '_open' %}
		{% assign formatted_dayi_close = 'formatted_day' | append: i | append: '_close' %}
		<dt data-day="{{ page[daycodei] }}">{{ day }}</dt>
		{% if page[formatted_daycodei] == day %}
		<dd data-day="{{ page[daycodei] }}" data-open="{{ page[dayi_open] }}" data-close="{{ page[dayi_close] }}"><span>{{ page[formatted_dayi_open] }} – {{ page[formatted_dayi_close] }}</span></dd>
		{% else %}
		<dd><i>Closed</i></dd>
		{% endif %}
	{% endfor %}
	</dl>
</section>
{% endif %}

{% if page['website'] != '' or page['phone'] != '' %}
<section class="information">
	<h2>Information</h2>
	<dl>
		{% if page['website'] != '' %}
		<dt>Web</dt>
		<dd><a href="{{ page['website'] | escape }}">{{ page['website'] | escape }}</a></dd>
		{% endif %}

		{% if page['phone'] != '' %}
		<dt>Phone</dt>
		<dd>{{ page['phone'] | escape }}</dd>
		{% endif %}
	</dl>
</section>
{% endif %}

<section class="location-details-options">
	<h2>Options</h2>

	<ul class="options action secondary">
		<li><a href="mailto:contact@foodoasis.la?subject=Claim Business, {{ page.name }}, Food Oasis LA&body=Hello team at Food Oasis LA. I’d like to claim this business… {{ page.name }}: https://foodoasis.la{{ page.url }}">Claim Business</a></li>
		<li><a href="https://form.jotform.com/62638504761156?businessName={{ page.name }}&amp;address={{ page.address_1 }}&amp;category={{ page.category }}&amp;longitude={{ page.longitude }}&amp;latitude={{ page.latitude }}">Report Issue</a></li>
	</ul>
</section>

<script src="https://api.mapbox.com/mapbox-gl-js/v0.33.1/mapbox-gl.js"></script>

<!-- For location-details.js -->
<script type="text/template" id="marker-template">
	<div class="marker {{ page['category'] | downcase | replace: ' ', '-' }}-marker active"></div>
</script>

<script>
	var FOOD_SOURCE = {
		latitude: {{ page['latitude'] }},
		longitude: {{ page['longitude'] }},
		day: "{{ page['day'] }}",
		open: "{{ page['open'] }}",
		close: "{{ page['close'] }}"
	}
</script>

<!-- Jim’s Google Maps API key -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP5KxqO9v1sLhXlkrG3vDiDdOJvYLJ0H4"></script>

<script src="/assets/js/location-details.js"></script>
